@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

* {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
