        <!-- 14.0 Critical Steps Timeline  -->
        <div id="CriticalStepsTimeline">

          <!-- Header -->
          <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
            <div class="max-w-7xl mx-auto">
              <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                  <polygon points="50,0 100,0 50,100 0,100" />
                </svg>

                <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                  <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                    <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                    </div>
                  </nav>
                </div>

                <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                  <div class="sm:text-center lg:text-left">

                      <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                        <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                          Section 14
                        </span>
                        <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                        </span>
                      </a>
                    
                    <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                      <span class="block xl:inline">Critical Steps</span>
                      <span class="block text-gray-600 xl:inline">Timeline</span>
                    </h1>

                    <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
The School Launch Plan is detailed in a separate task management tool with 200 rows of tasks and objectives. Below are Critical Steps pulled from the school launch plan.
                    </p>
                  </div>
                </main>
              </div>
            </div>
            <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
              <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/heroimages/Screenshot+(16).png" alt="">
            </div>
          </div>
          <!-- End Header -->

<!-- Table container -->
<div class="bg-gray-50 pb-20 px-4 sm:px-6 lg:pb-28 lg:px-8">

  <div class="mx-auto max-w-7xl">
    <!-- Table 01 -->
    <div class="p-6 pb-6">
    <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-3xl border-b-2 py-4">
      Critical Steps Timeline
    </h2>
  <div class="mb-6">
        <div class="mt-3 sm:mt-4 align-text-top prose">
          <p class="text-lg text-gray-500">
SailFuture has secured more than $1.5M in state and national grants to date. We plan to engage national funders in the education sector, such as the Walton Family Foundation, to support this innovative school model.

        </div>
</div>
    </div>

    <div class="flex flex-col w-full">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 w-full align-middle inline-block sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="divide-y divide-gray-200 w-full max-w-7xl">
              <thead class="bg-gray-50 mx-auto">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Task
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Completed By
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 mx-auto">
    
                <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Step Up For Students Eligibility Confirmed
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          DOE Private School Registration
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                         Develop Year 0 - 5 Budget
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Develop Staffing Plan
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                                        <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Develop Daily Schedule based on Grade
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          25% of Enrollment Committed
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Identify and Select Head of School
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Identify and Select Director of Social Enterprises
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Launch SailFuture Academy Website
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                      Complete
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Launch digital marketing campaign and deploy print materials to partner organizations
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      February 15, 2021
                    </span>
                  </td>
                </tr>
    
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          50% of Enrollment Committed
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      April 30, 2021
                    </span>
                  </td>
                </tr>
  
                            <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          100% of Enrollment Committed
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      July 15, 2021
                    </span>
                  </td>
                </tr>
                
                             <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Align Backend operations and systems (Finance, HR, Legal, Marketing) with SailFuture Admin team
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      May 1, 2021
                    </span>
                  </td>
                </tr>
                
                                         <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Submit applications for funding opportunities
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      May 1, 2021
                    </span>
                  </td>
                </tr>
                
                                         <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          New Staff Training begins
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      July 19 2021
                    </span>
                  </td>
                </tr>
                
                                         <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Furnish Classrooms and offices
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      June 2021
                    </span>
                  </td>
                </tr>
                
                                         <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          ELA Curriculum for Terms 1 - 5
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      June 2021
                    </span>
                  </td>
                </tr>
                
                                         <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          STEM Curriculum for Terms 1 - 5
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      June 2021
                    </span>
                  </td>
                </tr>
  
                                                       <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Construction and Maritime Labs for Terms 1 - 5
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      June 2021
                    </span>
                  </td>
                </tr>
  
                                                       <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          Certificate of Inspection from Building Department, Health Department, and Fire Department
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      July 2021
                    </span>
                  </td>
                </tr>
  
                                                       <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
  Submit Change of Address form to DOE                      </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      July 2021
                    </span>
                  </td>
                </tr>
                
                                                       <tr>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
  100% of Staff hired                     </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                      July 2021
                    </span>
                  </td>
                </tr>
  
                <!-- More items... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
  
  <!-- Table 02 -->
<div class="mx-auto max-w-7xl">
    <div class="p-6 pb-6">
    <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-3xl border-b-2 py-4">
      Recruitment Plan
    </h2>
    </div>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block sm:px-6 lg:px-8 w-full">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="divide-y divide-gray-200 w-full">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Committed Students
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Application Goal
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Applications Received
                </th>
                 <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Applications Dispersed
                </th>
                 <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Outreach & Touchpoint
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Odd row -->
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  February 28th
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  12
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  12
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  12
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  12
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  12
                </td>
              </tr>
  
              <!-- Even row -->
              <tr class="bg-gray-50">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  March 31st
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  10
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  20
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  20
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  20
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  20
                </td>
              </tr>
  
              <!-- Odd row -->
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  April 30th
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  8
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  20
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  25
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  50
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  100
                </td>
              </tr>
  
              <!-- Even row -->
              <tr class="bg-gray-50">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  May 31st
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  10
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  20
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  25
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  50
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  100
                </td>
              </tr>
  
              <!-- Odd row -->
              <tr class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  June 30th
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  14
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  20
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  25
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  50
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  100
                </td>
              </tr>
  
  
              <!-- Even row -->
              <tr class="bg-blue-50">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Total
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  54
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  94
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  107
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  182
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-500">
                  362
                </td>
              </tr>
  
  
              <!-- More items... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

        <!-- End Section -->
        </div> 