        <!-- 11.0 Facilities Plan   -->
        <div id="FacilitiesPlan">

  <!-- Main Header -->
  <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>

        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
            </div>
          </nav>
        </div>

        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center lg:text-left">

              <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                  Section 02
                </span>
                <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                </span>
              </a>
            
            <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
              <span class="block xl:inline">Facilities</span>
              <span class="block text-gray-600 xl:inline">Plan</span>
            </h1>

            <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                SailFuture currently owns a 25,000 sqft facility located at 2154 27th Ave N. in St. Petersburg, FL.
                <br></br>
                The facility will accommodate our school with a total enrollment of 200 students. 
                <br></br>
                Our mortgage on the property is $7,100 per month and we estimate $900,000 in renovation costs and $150,000 in tech, furnishing, equipment and other start-up costs.
                <br></br>
                We already have long-term financing in place in partnership with the Florida Community Loan Fund.
                    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
    </div>
  </div>
  </div>
</div>
  <!-- End Main Header -->

  
          </div> 
  