
<div id="FundraisingPlan">

  <!-- Header -->
  <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
                          <div class="max-w-7xl mx-auto">
                            <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                              <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                                <polygon points="50,0 100,0 50,100 0,100" />
                              </svg>
              
                              <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                                <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                                  <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                                  </div>
                                </nav>
                              </div>
              
                              <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                                <div class="sm:text-center lg:text-left">
              
                                    <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                                      <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                                        Section 13
                                      </span>
                                      <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                                      </span>
                                    </a>
                                  
                                  <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                                    <span class="block xl:inline">Fundraising</span>
                                    <span class="block text-gray-600 xl:inline">Plan</span>
                                  </h1>
              
                                  <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                                    SailFuture’s financial model ensures the Academy’s long-term sustainability through a diverse source of revenues, including:
                                  </p>
                                </div>
                              </main>
                            </div>
                          </div>
                          <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                            <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
                          </div>
  </div>
  <!-- End Header -->

  <!-- Revenue Model -->
<div class="relative bg-white py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
      SailFuture’s financial model includes a<br>diverse source of revenues:
    </p>
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 bg-indigo-500 rounded-md shadow-lg">
                  <!-- Heroicon name: outline/cloud-upload -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Earned Income through Social Enterprises </h3>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 bg-indigo-500 rounded-md shadow-lg">
                  <!-- Heroicon name: outline/lock-closed -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Shared Facility Space</h3>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 bg-indigo-500 rounded-md shadow-lg">
                  <!-- Heroicon name: outline/refresh -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Step Up For Students / McKay Scholarships </h3>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 bg-indigo-500 rounded-md shadow-lg">
                  <!-- Heroicon name: outline/shield-check -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">Private Philanthropy</h3>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <div class="flow-root bg-gray-50 rounded-lg px-6 pb-8">
            <div class="-mt-6">
              <div>
                <span class="inline-flex items-center justify-center p-3 bg-indigo-500 rounded-md shadow-lg">
                  <!-- Heroicon name: outline/cog -->
                  <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  </svg>
                </span>
              </div>
              <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">State and National Grants</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <!-- Secured & Expected Funding Sources -->
  <div class="bg-gray-50">
  <div class="relative pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8 max-w-7xl mx-auto">
    <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl border-b-2 py-4 border-gray-200">
      Secured & Expected Funding Sources
    </h2>
    <div class="mt-3 sm:mt-4 sm:max-w-none lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
      <p class="text-xl text-gray-500">
        Since May of 2019, SailFuture has raised $2.1M in capital and private funding for the SailFuture Academy. These funds have been used to purchase and renovate the facility.    </p>
    </div>
  <!-- Table Expected Funding Sources -->
  <div class="flex flex-col pt-12">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Funding Source</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Year(s)</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
              </tr>
            </thead>
  
            <tbody class="bg-white divide-y divide-gray-200">
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Florida Community Loan Fund Refinance</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2020</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$1,209,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">State of Florida Line Item Appropriation</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2019</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$100,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">JSP Education Foundation</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2020</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$250,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">TK Foundation</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2020</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$250,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Johnston Family Foundation</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2020</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$100,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Action Labs</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2020</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$200,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">The Drexel Fund</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$500,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">The TK Foundation</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$500,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Head of School Fundraising</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$750,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Founder Fundraising</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2022-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$300,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-purple-100 text-purple-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Earned Income (SEU’s, Facility Leases, etc.)</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$1,940,000</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">FRL Reimbursement (90% of students)</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$1,040<br />student/year</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Step Up, FTC Scholarships (85% of students)</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$6,545</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">McKay Scholarships (5% of students)</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$13,545</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Private Tuition Payments (10% of students)</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$16,500<br>/student</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Transportation and Registration Fees</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$500<br>student/year</td>
              </tr>
              <!--end row -->
  
              <!--row -->
              <tr>
                <td class="py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Foster Care stipends for youth attending<br>from Residential Foster Care Program</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">2021-2024</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$25,000<br>/year</td>
              </tr>
              <!--end row -->
  
              <!-- More items... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

  <!-- End Secured & Expected Funding Sources -->
  
  <!-- Earned Income through Social-->
  <div class="relative bg-white px-4 sm:px-6 lg:pb-10 lg:px-8 prose pt-16 mx-auto max-w-7x1">
    <div class="relative w-full mx-auto prose">
  
  
   <div class="flex flex-col overflow-hidden">
      <div class="relative mx-0 divide-y-2 divide-gray-200 ">
      <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 py-4max-w-prose">
        Earned Income through<br>Social Enterprises
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:gap-5 lg:items-center py-4">
        <p class="text-lg text-gray-500 max-w-prose">
  In addition to providing students with immediate, paid-opportunities to learn all aspects of a business, SailFuture’s social enterprises offer products and services to paying customers that generate income to offset the cost of attendance per student.
  <br><br>
  During Year 1, the Social Enterprises Director will launch the Maritime and Construction units. The Culinary Unit will launch in Year 2.
  
        </p>
      </div>
    </div>
    </div>
  
  <!-- Start Grid -->
      <div class="mt-12 max-w-lg sm:max-w-none mx-auto grid gap-5 lg:grid-cols-3 sm:grid-cols-2 lg:max-w-none">
  
  
  <!-- Start first block -->
        <div class="flex flex-col rounded-lg shadow-sm overflow-hidden border-2">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
          </div>
            <div class="relative bg-white px-6 py-5 shadow-sm flex items-center border-b-2 space-x-3 hover:border-blue-400 hover:bg-blue-50  focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
    <div class="flex-shrink-0">
      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    </div>
    <div class="flex-1 min-w-0">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-lg font-medium text-gray-900">
          Construction Unit
        </p>
      </a>
    </div>
  </div>
  <div class="w-full flex items-center justify-between px-6 pt-6 space-x-6">
  </div>
          <div class="flex-1 bg-white px-6 flex flex-col justify-between">
            <div class="flex-1">
                <p class="text-base text-gray-500 pb-6">
  The Construction SEU has a signed $900,000 contract to complete the renovation of the 2nd floor of the school building and the kitchen and restaurant.<br></br>The Construction SEU projects $273,050 in net income for year 1.              </a>
                  </div>
                </div>
              </div>
  <!-- complete -->
  
    <!-- Start first block -->
        <div class="flex flex-col rounded-lg shadow-sm overflow-hidden border-2">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
          </div>
            <div class="relative bg-white px-6 py-5 shadow-sm border-b-2  flex items-center space-x-3 hover:border-blue-400 hover:bg-blue-50  focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
    <div class="flex-shrink-0">
      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    </div>
    <div class="flex-1 min-w-0">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-lg font-medium text-gray-900">
          Culinary Unit
        </p>
      </a>
    </div>
  </div>
  <div class="w-full flex items-center justify-between px-6 pt-6 space-x-6">
  </div>
          <div class="flex-1 bg-white px-6 flex flex-col justify-between">
            <div class="flex-1">
                <p class="text-base text-gray-500 pb-6">
  The Construction SEU has a signed $900,000 contract to complete the renovation of the 2nd floor of the school building and the kitchen and restaurant.
  <br></br>The Construction SEU projects $273,050 in net income for year 1.              </a>
                  </div>
                </div>
              </div>
  <!-- complete -->
  
    <!-- Start first block -->
        <div class="flex flex-col rounded-lg shadow-sm border-2 overflow-hidden">
          <div class="flex-shrink-0">
            <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
          </div>
            <div class="relative  bg-white px-6 py-5 shadow-sm border-b-2  flex items-center space-x-3 hover:border-blue-400 hover:bg-blue-50  focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
    <div class="flex-shrink-0">
      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    </div>
    <div class="flex-1 min-w-0">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-lg font-medium text-gray-900">
          Maritime Unit
        </p>
      </a>
    </div>
  </div>
  <div class="w-full flex items-center justify-between px-6 pt-6 space-x-6">
  </div>
          <div class="flex-1 bg-white px-6 flex flex-col justify-between">
            <div class="flex-1">
                <p class="text-base text-gray-500 pb-6">
  The Maritime SEU will operate a 105’ motor yacht for charter in Florida in the Bahamas. A projected $125,000 in charter revenues will offset the $200,000 in annual holding costs.<br></br> The vessel is currently owned by SailFuture with no debt and is valued at $750,000. The Maritime SEU projects a small deficit in the first 3 years prior to selling the vessel for a net profit of $750,000 in Year 4.                  </div>
                </div>
              </div>
  <!-- complete -->
  
      </div>
  
  <!-- End Instructional -->
  
  
  
  <div class="mt-3 sm:mt-4 sm:max-w-none lg:grid lg:grid-cols-2 lg:gap-5 md:grid-cols-2 py-12 gap-y-6">
  
   <div class="flex flex-col overflow-hidden">
      <div class="relative mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
      <h2 class="text-4xl tracking-tight font-extrabold text-gray-900">
        Shared Facility Space
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:gap-5 lg:items-center">
        <p class="text-lg text-gray-500">
  SailFuture’s mental health and case management teams will utilize the school facility for office and training space.
  
  Shared services are expected to generate $50,000 in revenues in the first year and all years following.
        </p>
      </div>
    </div>
    </div>
  
    <div class="flex flex-col mx-auto divide-y-2 divide-gray-200">
      <h2 class="text-4xl tracking-tight font-extrabold text-gray-900">
        Step Up For Students, FTC, and McKay Scholarships
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:gap-5 lg:items-center">
        <p class="text-lg text-gray-500">
  SailFuture will receive $6,550 per student per year in scholarship funding through low income scholarships and $13,550 per student per year from students receiving McKay scholarships. 
        </p>
      </div>
    </div>
  
    <div class="">
      <div class="flex flex-col relative mx-auto divide-y-2 divide-gray-200">
      <h2 class="text-4xl tracking-tight font-extrabold text-gray-900">
        Private philanthropy 
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:items-center">
        <p class="text-lg text-gray-500">
  SailFuture has a strong track record of private fundraising and plans to expand outreach and efforts to secure additional resources to ensure the Academy’s success. 
  <br></br>
  The organization has already raised $2.1M to purchase and renovate the SailFuture Academy’s facility. Fundraising efforts for Year 1 will be dedicated to finishing the capital campaign for the school. 
        </p>
      </div>
    </div>
    </div>
  
    <div>
      <div class="flex flex-col relative mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
      <h2 class="text-4xl tracking-tight font-extrabold text-gray-900">
        State and National Grants
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:items-center">
        <p class="text-lg text-gray-500">
  Given the highly unique nature of the SailFuture Academy model, we hope to attract funding from state and national funding organizations to support this new educational model. 
  <br></br>
  The SailFuture Academy will also benefit from SailFuture’s breadth and scale, which will allow us to apply for grants in the mental health, education, vocational training, foster care, and juvenile justice areas of interest.
  
        </p>
      </div>
    </div>
    </div>
  
  </div>
  
    </div>
  </div>
  
  
  </div>