
<div id="FundraisingPlan">

<!-- Header -->
<div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
                        <div class="max-w-7xl mx-auto">
                          <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                              <polygon points="50,0 100,0 50,100 0,100" />
                            </svg>
            
                            <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                              <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                                <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                                </div>
                              </nav>
                            </div>
            
                            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                              <div class="sm:text-center lg:text-left">
            
                                  <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                                    <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                                      Section 13
                                    </span>
                                    <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                                    </span>
                                  </a>
                                
                                <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                                  <span class="block xl:inline">Fundraising</span>
                                  <span class="block text-gray-600 xl:inline">Plan</span>
                                </h1>
            
                                <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                                  SailFuture’s financial model ensures the Academy’s long-term sustainability through a diverse source of revenues, including:
                                </p>
                              </div>
                            </main>
                          </div>
                        </div>
                        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                          <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
                        </div>
</div>
<!-- End Header -->

<!-- Section 1 -->
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-24 lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">Revenue Model</h2>
      <p class="mt-4 text-lg text-gray-500">SailFuture’s financial model ensures the Academy’s long-term sustainability through a diverse source of revenues, including:</p>
    </div>
    <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-4 lg:gap-x-8">
      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Earned Income through Social Enterprises </p>
        </dt>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Shared Facility Space</p>
        </dt>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Step Up For Students / McKay Scholarships </p>
        </dt>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-9 text-lg leading-6 font-medium text-gray-900">Private Philanthropy</p>
        </dt>
      </div>

      <div class="relative">
        <dt>
          <!-- Heroicon name: outline/check -->
          <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
          <p class="ml-9 text-lg leading-6 font-medium text-gray-900">State and National Grants</p>
        </dt>
      </div>
    </dl>
  </div>
</div>

<!--Earned Income Social Enterprises -->
<div class="bg-white pt-16 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div class="relative max-w-lg mx-auto lg:max-w-7xl sm:max-w-none">
    <div>
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        Earned Income through Social Enterprises
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
        <p class="text-xl text-gray-500">
          SailFuture’s Director of Social Enterprises oversees three Business Units integrated into the SailFuture Academy. 
        </p>
      </div>
    </div>

    <div class="mt-6 pt-2 grid gap-8 lg:grid-cols-2 sm:grid-cols-2 sm:max-w-none lg:gap-x-5 lg:gap-y-8">

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden border-solid border-2 border-blue-100">
        <div class="flex-1 bg-white p-8 flex flex-col justify-between">
          <div class="flex-1">
            <a href="#" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                Construction Unit
              </p>
              <p class="mt-3 text-base text-gray-500">
The Construction SEU has a signed $900,000 contract to complete the renovation of the 2nd floor of the school building and the kitchen and restaurant. The Construction SEU projects $273,050 in net income for year 1.
<br></br>
Future revenues for the Construction Unit will be a combination of supporting SailFuture’s growth (i.e. the construction of independent living homes) and contracts sourced through the business council. 
              </p>
            </a>
          </div>
        </div>
      </div>

            <div class="flex flex-col rounded-lg shadow-lg overflow-hidden border-solid border-2 border-blue-100">
        <div class="flex-1 bg-white p-8 flex flex-col justify-between">
          <div class="flex-1">
            <a href="#" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                Maritime Unit
              </p>
              <p class="mt-3 text-base text-gray-500">
The Maritime SEU will operate a 105’ motor yacht for charter in Florida in the Bahamas. A projected $125,000 in charter revenues will offset the $200,000 in annual holding costs.
<Br></br>
 The vessel is currently owned by SailFuture with no debt and is currently valued at $750,000. The Maritime SEU projects a small deficit in the first 3 years prior to selling the vessel for a net profit of $625,000 in Year 4.
<Br></br>
Future revenues and projects for the Maritime SEU are built on projected boat donations. The Maritime SEU is expected to solicit 1 major yacht donation per year. 

              </p>
            </a>
          </div>
        </div>
      </div>

            <div class="flex flex-col rounded-lg shadow-lg overflow-hidden border-solid border-2 border-blue-100">
        <div class="flex-1 bg-white p-8 flex flex-col justify-between">
          <div class="flex-1">
            <a href="#" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                Construction Unit
              </p>
              <p class="mt-3 text-base text-gray-500">
During Year 2, the Social Enterprises Director will launch the Culinary unit.
<br></br>
Revenues for the culinary unit will be derived from catering, meal subscription, and events.

              </p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div class="absolute inset-0">
  </div>
  <div class="relative mx-auto">

    <div class="mt-12 mx-auto grid gap-5 lg:grid-cols-1 lg:max-w-none">

    


    </div>
</div>

<!--
Earned Income Social Enterprises
-->
<div class="bg-white pt-16 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div class="relative max-w-lg mx-auto lg:max-w-7xl sm:max-w-none">
    <div>
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        Earned Income through Social Enterprises
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
        <p class="text-xl text-gray-500">
          SailFuture’s Director of Social Enterprises oversees three Business Units integrated into the SailFuture Academy. 
        </p>
      </div>
    </div>

    <div class="mt-6 pt-2 grid gap-8 lg:grid-cols-2 sm:grid-cols-2 sm:max-w-none lg:gap-x-5 lg:gap-y-8">

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden border-solid border-2 border-blue-100">
        <div class="flex-1 bg-white p-8 flex flex-col justify-between">
          <div class="flex-1">
            <a href="#" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                Construction Unit
              </p>
              <p class="mt-3 text-base text-gray-500">
The Construction SEU has a signed $900,000 contract to complete the renovation of the 2nd floor of the school building and the kitchen and restaurant. The Construction SEU projects $273,050 in net income for year 1.
<br></br>
Future revenues for the Construction Unit will be a combination of supporting SailFuture’s growth (i.e. the construction of independent living homes) and contracts sourced through the business council. 
              </p>
            </a>
          </div>
        </div>
      </div>

            <div class="flex flex-col rounded-lg shadow-lg overflow-hidden border-solid border-2 border-blue-100">
        <div class="flex-1 bg-white p-8 flex flex-col justify-between">
          <div class="flex-1">
            <a href="#" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                Maritime Unit
              </p>
              <p class="mt-3 text-base text-gray-500">
The Maritime SEU will operate a 105’ motor yacht for charter in Florida in the Bahamas. A projected $125,000 in charter revenues will offset the $200,000 in annual holding costs.
<Br></br>
 The vessel is currently owned by SailFuture with no debt and is currently valued at $750,000. The Maritime SEU projects a small deficit in the first 3 years prior to selling the vessel for a net profit of $625,000 in Year 4.
<Br></br>
Future revenues and projects for the Maritime SEU are built on projected boat donations. The Maritime SEU is expected to solicit 1 major yacht donation per year. 

              </p>
            </a>
          </div>
        </div>
      </div>

            <div class="flex flex-col rounded-lg shadow-lg overflow-hidden border-solid border-2 border-blue-100">
        <div class="flex-1 bg-white p-8 flex flex-col justify-between">
          <div class="flex-1">
            <a href="#" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                Construction Unit
              </p>
              <p class="mt-3 text-base text-gray-500">
During Year 2, the Social Enterprises Director will launch the Culinary unit.
<br></br>
Revenues for the culinary unit will be derived from catering, meal subscription, and events.

              </p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>


<div class="mt-3 sm:mt-4 sm:max-w-none lg:grid lg:grid-cols-2 lg:gap-5 md:grid-cols-2">

   <div class="flex flex-col overflow-hidden">
      <div class="relative mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        Shared Facility Space
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:gap-5 lg:items-center">
        <p class="text-xl text-gray-500">
SailFuture’s mental health and case management teams will utilize the school facility for office and training space.

Shared services are expected to generate $50,000 in revenues in the first year and all years following.
        </p>
      </div>
    </div>
    </div>


      <div class="flex flex-col mx-auto divide-y-2 divide-gray-200">
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        Step Up For Students, FTC, and McKay Scholarships
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:gap-5 lg:items-center">
        <p class="text-xl text-gray-500">
SailFuture will receive $6,550 per student per year in scholarship funding through low income scholarships and $13,550 per student per year from students receiving McKay scholarships. 
        </p>
      </div>
    </div>



<div>
      <div class="flex flex-col relative mx-auto divide-y-2 divide-gray-200">
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        Private philanthropy 
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:items-center">
        <p class="text-xl text-gray-500">
SailFuture has a strong track record of private fundraising and plans to expand outreach and efforts to secure additional resources to ensure the Academy’s success. 
<br></br>
The organization has already raised $2.1M to purchase and renovate the SailFuture Academy’s facility. Fundraising efforts for Year 1 will be dedicated to finishing the capital campaign for the school. 
        </p>
      </div>
    </div>
    </div>

    <div>
      <div class="flex flex-col relative mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        State and National Grants
      </h2>
      <div class="mt-3 sm:mt-4 sm:max-w-none lg:items-center">
        <p class="text-xl text-gray-500">
Given the highly unique nature of the SailFuture Academy model, we hope to attract funding from state and national funding organizations to support this new educational model. 
<br></br>
The SailFuture Academy will also benefit from SailFuture’s breadth and scale, which will allow us to apply for grants in the mental health, education, vocational training, foster care, and juvenile justice areas of interest.

        </p>
      </div>
    </div>
    </div>

    </div>
    </div>



<!-- Income Header -->
<div class="text-center">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-blue-600 sm:text-4xl">
        Earned Income through<br>Social Enterprises
      </p>
    </div>
  </div>
  </div>
<!-- Earned Income Streams -->
<div class="relative bg-white pt-16 pb-32 overflow-hidden">


  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div>
          <hr></hr>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Construction Unit
            </h2>
            <p class="mt-4 text-lg text-gray-500">
The Construction SEU has a signed $900,000 contract to complete the renovation of the 2nd floor of the school building and the kitchen and restaurant. The Construction SEU projects $273,050 in net income for year 1.
<br></br>
Future revenues for the Construction Unit will be a combination of supporting SailFuture’s growth (i.e. the construction of independent living homes) and contracts sourced through the business council. 
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>


  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div>
          <hr></hr>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Maritime Unit
            </h2>
            <p class="mt-4 text-lg text-gray-500">
The Maritime SEU will operate a 105’ motor yacht for charter in Florida in the Bahamas. A projected $125,000 in charter revenues will offset the $200,000 in annual holding costs.
<br></br>
 The vessel is currently owned by SailFuture with no debt and is currently valued at $750,000. The Maritime SEU projects a small deficit in the first 3 years prior to selling the vessel for a net profit of $625,000 in Year 4.
<br></br>
Future revenues and projects for the Maritime SEU are built on projected boat donations. The Maritime SEU is expected to solicit 1 major yacht donation per year. 
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg" alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div>
          <hr></hr>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Culinary Unit
            </h2>
            <p class="mt-4 text-lg text-gray-500">
During Year 2, the Social Enterprises Director will launch the Culinary unit.
<br></br>
Revenues for the culinary unit will be derived from catering, meal subscription, and events.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>


</div>

<!-- Table -->
<div>
  <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
    Secured & Expected Funding Sources
  </h2>
  <div class="mt-3 sm:mt-4 sm:max-w-none lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
    <p class="text-xl text-gray-500">
      Since May of 2019, SailFuture has raised $2.1M in capital and private funding for the SailFuture Academy. These funds have been used to purchase and renovate the facility.    </p>
  </div>
</div>

<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Funding Source</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Year(s)</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">
            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Florida Community Loan Fund Refinance</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$1,209,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">State of Florida Line Item Appropriation</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2019</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$100,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">JSP Education Foundation</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$250,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">TK Foundation</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$250,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Johnston Family Foundation</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$100,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"> Secured </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Action Labs</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2020</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$200,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">The Drexel Fund</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$500,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">The TK Foundation</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$500,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Head of School Fundraising</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$750,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Founder Fundraising</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2022-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$300,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-purple-100 text-purple-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Earned Income (SEU’s, Facility Leases, etc.)</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$1,940,000</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">FRL Reimbursement (90% of students)</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$1,040<br />student/year</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Step Up, FTC Scholarships (85% of students)</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$6,545</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">McKay Scholarships (5% of students)</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$13,545</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Private Tuition Payments (10% of students)</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$16,500<br>/student</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Transportation and Registration Fees</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$500<br>student/year</td>
            </tr>
            <!--end row -->

            <!--row -->
            <tr>
              <td class="py-4 whitespace-nowrap">
                <div class="flex items-center">
                  <div class="ml-4">
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"> Expected </span>
                  </div>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">Foster Care stipends for youth attending<br>from Residential Foster Care Program</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">2021-2024</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-bold text-gray-500">$25,000<br>/year</td>
            </tr>
            <!--end row -->

            <!-- More items... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>