<div id="HumanResources">
    <!-- 6.0 Human Resources Plan   -->
    
    <!-- Header -->
    <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
            <div class="max-w-7xl mx-auto">
              <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                  <polygon points="50,0 100,0 50,100 0,100" />
                </svg>
        
                <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                  <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                    <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                    </div>
                  </nav>
                </div>
        
                <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                  <div class="sm:text-center lg:text-left">
        
                      <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                        <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                          Section 09
                        </span>
                        <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                        </span>
                      </a>
                    
                    <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                      <span class="block xl:inline">Human Resources</span>
                      <span class="block text-gray-600 xl:inline">Plan</span>
                    </h1>
        
                    <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                        Our staffing model supports a 1:12 teacher to student ratio and creates a robust educational experience for students through our faculty roster, which includes a STEM, ELA, Construction, Maritime, and Culinary instructors. Students also receive support from an onsite mental health counselor, intervention specialists and the Head of School and director of Social Enterprises.
    <br></br>
                        SailFuture’s staffing model provides a world-class employee experience. Staff receive 8 weeks of Paid Time Off throughout the year and a 5-day planning week before the beginning of each academic term.
                                        </p>
                  </div>
                </main>
              </div>
            </div>
            <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
              <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/heroimages/8G3A4357_Proxy.00_00_44_01.Still041.jpg" alt="">
            </div>
    </div>
    <!-- End Header -->
    

    <!-- Personnel Budget - Year 1 -->
<div class="flex flex-col max-w-7xl mx-auto p-12">
    <div class="">
          <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl border-b-2 py-4">
            Personnel Budget - Year 1
          </h2>
    </div>
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block sm:px-6 lg:px-8 w-full">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg w-full">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Position
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  FTE
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Salary
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
  
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Head of School
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.0
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $65,000
                </td>
              </tr>
  
                          <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Director of Social Enterprises
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.0
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $60,000
                </td>
              </tr>
  
                          <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Maritime Coach
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.0
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $45,000
                </td>
              </tr>
  
                          <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                 Humanities Coach
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.0
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $45,000
                </td>
              </tr>
  
                          <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                 STEM Coach
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.5
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $45,000
                </td>
              </tr>
  
                          <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Construction Manager
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.0
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $50,000
                </td>
              </tr>
  
                          <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  Head of School
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.0
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $65,000
                </td>
              </tr>
  
                          <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                 Intervention Specialist
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.0
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $32,000
                </td>
              </tr>
  
                          <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                Intervention Specialist (CDL)
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  1.0
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $36,000
                </td>
              </tr>
  
                                  <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                Expeditions Captain
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  .33
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $55,000
                </td>
              </tr>
  
                <tr class="bg-blue-50 border-blue-100 border-2 border-solid">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                Total
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  7.83
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                 $455,500
                </td>
              </tr>
  
              <!-- More items... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
    
    <!-- Staff Onboarding Plan -->
    <div class="max-w-7xl mx-auto p-6">
    <div class="p-6">
          <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl border-b-2 py-4">
            Staff Onboarding Plan
          </h2>
          <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
            <p class="text-lg text-gray-500">
              The Head of School and Director of Social Enterprises were onboarded in February of 2021 and the  remaining staff will be onboarded the 2nd week of July to begin (3) weeks of training prior to school opening.
            </p>
          <div class="text-lg text-gray-500 mt-3 sm:mt-4">
                Faculty onboarding in year 1 will focus on conveying the desired culture of SailFuture Academy, provide ample training to understand curriculum and lessons, and clearly explain and effectively prepare for implementing systems of accountability and assessment. 
          </div>
          </div>
    </div>
    <!-- Staff Onboarding  -->
    <div class="flex flex-col p-6">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block max-w-7xl p-6 sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden bordsm:rounded-lg">
    
            <table class="divide-y divide-gray-200 table-fixed align-top">
              <thead class="bg-gray-50 ">
                <tr>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Monday
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Tues
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Weds
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Thurs
                  </th>
                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Friday
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200 align-top">
                <!-- Week 1 -->
                <tr>
                   <td class="px-6 py-4 text-sm font-semibold text-gray-900 bg-blue-50">
                    Week 1              
                    </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    Introductions, School culture, SailFuture history, School year @ a glance, computers, logins, information systems, faculty handbook, feedback and growth overview
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    Student handbook, Important Policies/procedures, Technology walkthrough (information systems, classroom resources)
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    Mental health/support services, Day 1 Curriculum: overview, thematic details, lesson plans, assessments (types) 
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    Counseling skills for non-counselors, Day 2 curriculum: details, lesson plans, assessments, narrative feedback examples/role play
                  </td>
                 <td class="px-6 py-4 text-sm text-gray-500">
                  The Crew System, Day 3 Curriculum:  Lesson plans, assessments, feedback, professionalism scores  overview              </td>
                </tr>
    
                <!-- Week 2 -->
                <tr>
                   <td class="px-6 py-4 text-sm font-semibold text-gray-900 bg-blue-50">
                    Week 2             
                    </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
    Day 4 Curriculum:  Lesson plans, assessments, feedback, professionalism scores role play              </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
    Classroom management: what to do when?, Lesson Planning: Guiding Principles, expectations, objectives              </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
    Facilities Tour, Sailing Day 1              </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
    Sailing Day 2              </td>
                 <td class="px-6 py-4 text-sm text-gray-500">
    Collaborative Lesson planning
    </tr>
                <!-- End Week 2 -->
    
                <!-- Week 3 -->
                <tr>
                   <td class="px-6 py-4 text-sm font-semibold text-gray-900 bg-blue-50">
                    Week 3             
                    </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
    Collaborative Lesson planning              
    <td class="px-6 py-4 text-sm text-gray-500">
    Collaborative Lesson planning              
    <td class="px-6 py-4 text-sm text-gray-500">
    Collaborative Lesson planning             
    </td>
    <td class="px-6 py-4 text-sm text-gray-500">
    Orientation Overview         
    <td class="px-6 py-4 text-sm text-gray-500">
    Classroom Prep/ materials prep
    </tr>
                <!-- End Week 3 -->
    
                <!-- More items... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- End Staff Onboarding  -->

  <!-- Student goals / approach-->
  <div class="relative bg-white pt-16 pb-32 overflow-hidden">
    <div class="relative">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
          <div>
            <div>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Staff recruitment plans
              </h2>
              <p class="mt-4 text-lg text-gray-500">
All staff will be recruited by SailFuture’s Talent department which has extensive background in recruiting high quality candidates. Recruitment efforts will include:                </p>
                <ul class="space-y-4 pt-6">
  <li class="">
       <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Targeted digital advertising </p>
          </dt>
        </div>
        </li>
  <li class="">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6  text-gray-900">Community word of mouth</p>
          </dt>
        </div>
        </li>
  <li class="">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Industry-specific job boards</p>
          </dt>
        </div>
  </li>
  <li class="">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Sponsored jobs on traditional job boards such as Idealist, LinkedIn, and Indeed</p>
          </dt>
        </div>
  </li>
  <li class="">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Email blasts to newsletter subscribers</p>
          </dt>
        </div>
  </li>
            
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/heroimages/TeamTailerScreenshot.PNG" alt="Inbox user interface">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-24">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
          <div>
            <div>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Qualifications of Instructors
              </h2>
              <p class="mt-4 text-lg text-gray-500">
  <ul class="space-y-4">
  <li class="">
       <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Inspired by the SailFuture Mission</p>
          </dt>
        </div>
        </li>
  <li class="">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6  text-gray-900">Undaunted by opportunity to be uniquely challenged in order to catalyze meaningful social change</p>
          </dt>
        </div>
        </li>
  <li class="">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Able to understand and effectively implement provided, detailed lesson plans</p>
          </dt>
        </div>
  </li>
  <li class="">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Collaborative in their approach</p>
          </dt>
        </div>
  </li>
  
  <li class="">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6  text-gray-900">Willingness to learn and provide feedback
</p>
          </dt>
        </div>
  </li>
  
  <li class="">
         <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Flexible and eager to pitch in when and as needed 
</p>
          </dt>
        </div>
  </li>
  
        <li class="">
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Entrepreneurial in their thinking and a creative problem solver
</p>
          </dt>
        </div>
        </li>

                  <li class="">
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900"> Willingness to spend additional time supporting student through academic and personal challenges
</p>
          </dt>
        </div>
        </li>

                  <li class="">
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Passionate about reimagining education 
</p>
          </dt>
        </div>
        </li>

                  <li class="">
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Desire to create inclusive learning spaces where each student is seen, heard, and valued

</p>
          </dt>
        </div>
        </li>

                  <li class="">
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 text-gray-900">Patience, empathy, and a big heart
</p>
          </dt>
        </div>
        </li>

                  <li class="">
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6  text-gray-900">Prior teaching experience or training may be beneficial but is not required
</p>
          </dt>
        </div>
        </li>
  </ul>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
          <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/heroimages/8G3A4357_Proxy.00_02_42_16.Still040.jpg" alt="Customer profile user interface">
          </div>
        </div>
      </div>
    </div>
  </div>
    
<!-- Performance Evaluation & Teacher Feedback -->
<div class="p-6 max-w-7xl mx-auto">
    <div class="mb-6">
          <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl border-b-2 py-4 prose">
           Performance Evaluation & Teacher Feedback
          </h2>
          <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 gap-8 align-text-top">
            <p class="text-lg text-gray-500">
Instructor feedback and evaluation is formative and takes place in both formal and informal interactions.  The focus of SailFuture Academy’s feedback and evaluation system is to facilitate a growth-orientated process whereby instructors are coached through opportunities for growth. 
            </p>
          <div class="text-lg text-gray-500">
Our process is one that creates an ongoing culture of evaluation and reflection in order to continually improve what is provided to and for our community, specifically, the students.  Additionally, in the event an instructor is not meeting objectives, the systems below allow for intervention and corrective coaching as well as ample documentation.  
          </div>
          </div>

    </div>
    </div>

<div class="flex flex-col max-w-7xl mx-auto px-6">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200 align-text-top">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Method
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Frequency
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Rationale
              </th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">

            <tr class="bg-gray-50">
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                Professionalism Data
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                Daily
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
               Data is evaluated from class to class to determine if trends related to student engagement are presenting
              </td>
            </tr>

            <tr>
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                Formal Classroom Observation
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                 1 per  term
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Head of School will formally observe a full discussion period<br></br>
Written reflection and accompanying rubric will be provided and discussed  via meeting with 7 days 
              </td>
            </tr>

            <tr class="bg-gray-50">
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                Informal Classroom Observations
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
               Ongoing (>3 per term)
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Classroom walk-throughs
<br></br>
Video observations (submitted by instructor)
<br></br>
Passing conversations 
<br></br>
Constructive coaching is built into the model of the school day both for students and for the instructional team
              </td>
            </tr>

            <tr>
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
               Peer Observation
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
               1 per term
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Peer observes a class and provides narrative feedback
              </td>
            </tr>

            <tr class="bg-gray-50">
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
               Peer Evaluation
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
               1 per term
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Instructors evaluate one another through the lens of collective lesson planning and collaborative teaching
              </td>
            </tr>

            <tr>
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
              Goals & Progress Meetings
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
              3 per year
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Initial goals meeting before Term 1
<br></br>
Check-in meeting week prior to term 3 
<br></br>
Year-end review meeting in term 5
<br></br>
Discuss potential goals for following year
<br></br>
Instructor and Head of School discuss goals, progress, and shifts/pivots.

              </td>
            </tr>

            <!-- More items... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Professional Development -->
<div class="p-6 max-w-7xl mx-auto">
    <div class="mb-6">
          <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl border-b-2 py-4 prose">
           Professional Development
          </h2>
          <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 gap-8 align-text-top pb-6">
            <p class="text-lg text-gray-500">
The year-round calendar may present challenges to faculty and staff as it relates to  participating in professional development offerings taking place during a traditional school summer.  Therefore, staff are able to apply for approval to attend a professional development workshop/conference/etc. Approval is contingent upon fund availability, school programming, and term cycle. 
  <br></br>
  A professional development repository will be maintained and regularly updated to provide faculty and staff with access to resources, articles, journals, in-person/virtual opportunities. 

            </p>
<div class="text-lg text-gray-500">
Additionally all faculty and staff can submit content to the professional development repository to further the PLC. 
<br></br>  
All professional development and annual planning, after the first school year, will be data driven; we will use individual and school-wide data, staff observations, narrative feedback, and anecdotal artifacts to drive the focus of programmatic and individual professional development opportunities.

  </div>

          </div>
    </div>

<div class="flex flex-col max-w-7xl mx-auto">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200 align-text-top">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Meeting Schedule
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Frequency
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Purpose
              </th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">

            <tr class="bg-gray-50">
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                Grade-Level Team
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                Bi-Weekly
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Discuss student trends/outliers
<br>
Professionalism data and formative assessment data
<br>
Instructional observations and curriculum planning
narrative feedback. 
<br>
Brainstorming and lesson plan revisions

              </td>
            </tr>

            <tr>
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                All Team
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
               Bi-Weekly
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Protected time to facilitate an engaged professional learning community (PLC)
<br>
Led by administrators, teachers or others who can provide expertise in the desired professional development area
<br>
Not the traditional sit and get style of information sharing that can, instead, be disseminated via an email. 

              </td>
            </tr>

            <tr class="bg-gray-50">
              <td class="px-6 py-4 text-sm font-medium text-gray-900">
                Student Progress
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
               1 per Term
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Review student narrative feedback for the term
<br>
Evaluate areas of improved mastery across disciplines
<br>
Discuss student strengths, emerging strengths, and areas of focus
<br>
Discuss student strengths, emerging strengths, and areas of focus
Review overall student engagement and progress for term
              </td>
            </tr>
            <!-- More items... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

      
    <!-- End of Human Resources -->
</div>