<div id="HumanResources">
<!-- 6.0 Human Resources Plan   -->

    <!-- Header -->
    <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
        <div class="max-w-7xl mx-auto">
          <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
              <polygon points="50,0 100,0 50,100 0,100" />
            </svg>
    
            <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
              <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                </div>
              </nav>
            </div>
    
            <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
              <div class="sm:text-center lg:text-left">
    
                  <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                    <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                      Section 09
                    </span>
                    <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                    </span>
                  </a>
                
                <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                  <span class="block xl:inline">Huamn Resources</span>
                  <span class="block text-gray-600 xl:inline">Plan</span>
                </h1>
    
                <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                    Our staffing model supports a 1:12 teacher to student ratio and creates a robust educational experience for students through our faculty roster, which includes a STEM, ELA, Construction, Maritime, and Culinary instructors. Students also receive support from an onsite mental health counselor, intervention specialists and the Head of School and director of Social Enterprises.
<br></br>
                    SailFuture’s staffing model provides a world-class employee experience. Staff receive 8 weeks of Paid Time Off throughout the year and a 5-day planning week before the beginning of each academic term.
                                    </p>
              </div>
            </main>
          </div>
        </div>
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
        </div>
    </div>
    <!-- End Header -->

<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
<!-- Staffing Plan Narrative -->
<div>
    <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl border-b-2 py-4">
        Staffing Plan Narrative
      </h2>
    <div class="mt-6">
      <dl class="md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-12">
        <div>
          <dd class="mt-2 text-lg text-gray-500">
SailFuture’s full staffing plan can be found in the financial model.
<br></br>
Our staffing model supports a 1:12 teacher to student ratio and creates a robust educational experience for students through our faculty roster, which includes a STEM, ELA, Construction, Maritime, and Culinary instructors. 

          </dd>
        </div>
        <div>
          <dd class="mt-2 text-lg text-gray-500">
Students also receive support from an onsite mental health counselor, intervention specialists and the Head of School and director of Social Enterprises.
<br></br>
SailFuture’s staffing model provides a world-class employee experience. Staff receive 8 weeks of Paid Time Off throughout the year and a 5-day planning week before the beginning of each academic term.
          </dd>
        </div>
        <!-- More items... -->
      </dl>
    </div>
</div>

<!-- Staff Onboarding Plan -->
<div>
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl border-b-2 py-4">
        Staff Onboarding Plan
      </h2>
      <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
        <p class="text-lg text-gray-500">
          The Head of School and Director of Social Enterprises were onboarded in February of 2021 and the  remaining staff will be onboarded the 2nd week of July to begin (3) weeks of training prior to school opening.
<br></br>
Faculty onboarding in year 1 will focus on conveying the desired culture of SailFuture Academy, provide ample training to understand curriculum and lessons, and clearly explain and effectively prepare for implementing systems of accountability and assessment. 

        </p>
      </div>
</div>

<!-- Staff Onboarding  -->
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block max-w-7xl p-6 sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden bordsm:rounded-lg">

        <table class="divide-y divide-gray-200 table-fixed align-top">
          <thead class="bg-gray-50 ">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Monday
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Tues
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Weds
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Thurs
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Friday
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 align-top">
            <!-- Week 1 -->
            <tr>
               <td class="px-6 py-4 text-sm font-semibold text-gray-900 bg-blue-50">
                Week 1              
                </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                Introductions, School culture, SailFuture history, School year @ a glance, computers, logins, information systems, faculty handbook, feedback and growth overview
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                Student handbook, Important Policies/procedures, Technology walkthrough (information systems, classroom resources)
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                Mental health/support services, Day 1 Curriculum: overview, thematic details, lesson plans, assessments (types) 
              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
                Counseling skills for non-counselors, Day 2 curriculum: details, lesson plans, assessments, narrative feedback examples/role play
              </td>
             <td class="px-6 py-4 text-sm text-gray-500">
              The Crew System, Day 3 Curriculum:  Lesson plans, assessments, feedback, professionalism scores  overview              </td>
            </tr>

            <!-- Week 2 -->
            <tr>
               <td class="px-6 py-4 text-sm font-semibold text-gray-900 bg-blue-50">
                Week 2             
                </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Day 4 Curriculum:  Lesson plans, assessments, feedback, professionalism scores role play              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Classroom management: what to do when?, Lesson Planning: Guiding Principles, expectations, objectives              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Facilities Tour, Sailing Day 1              </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Sailing Day 2              </td>
             <td class="px-6 py-4 text-sm text-gray-500">
Collaborative Lesson planning
</tr>
            <!-- End Week 2 -->

            <!-- Week 3 -->
            <tr>
               <td class="px-6 py-4 text-sm font-semibold text-gray-900 bg-blue-50">
                Week 3             
                </td>
              <td class="px-6 py-4 text-sm text-gray-500">
Collaborative Lesson planning              
<td class="px-6 py-4 text-sm text-gray-500">
Collaborative Lesson planning              
<td class="px-6 py-4 text-sm text-gray-500">
Collaborative Lesson planning             
</td>
<td class="px-6 py-4 text-sm text-gray-500">
Orientation Overview         
<td class="px-6 py-4 text-sm text-gray-500">
Classroom Prep/ materials prep
</tr>
            <!-- End Week 3 -->

            <!-- More items... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End Staff Onboarding  -->


<!-- Year 1 Objectives -->
<div>
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        Year 1 Objectives
      </h2>
      <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
        <p class="text-xl text-gray-500">
          Objectives for Head of School and Social Enterprises Director
        </p>
      </div>
</div>
<!-- End Year 1 Objectives  -->

<div class="grid-cols-2">
<!-- Lindsay Year 1 Objectives  -->
<div class="flex flex-col-1 rounded-lg shadow-lg">
    <a href="#" class="mt-2 block">
  <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
    <div class="flex-shrink-0">
      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    </div>
    <div class="flex-1 min-w-0">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text font-medium text-gray-900">
          Head of School
        </p>
        <p class="text text-gray-500 truncate">
          Lindsay Danielson
        </p>
      </a>
    </div>
  </div>
          <ul class="bg-gray-50">
          <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4 px-6">
Recruit 42 eligible students
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Write ELA Curriculum for 9th grade Terms 1-5
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Write ELA Curriculum for 10th grade Terms 1 - 5
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Begin Fundraising - $100K Goal for Year 1
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Complete all items in the New School Opening Checklist
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Develop staff training materials 
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Recruit new staff for July onboarding - ALL
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Teach 2 classes per day for a total of 8-weeks to current students (12)
          </li>
                              <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Design Course Framework for Grades 11 and 12
          </li>
          </ul>
      </div>

<!-- Sam Year 1 Objectives  -->
<div class="flex flex-col-1 rounded-lg shadow-lg">
        <a href="#" class="mt-2 block">
  <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
    <div class="flex-shrink-0">
      <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
    </div>
    <div class="flex-1 min-w-0">
      <a href="#" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text font-medium text-gray-900">
          Social Enterprise Director
        </p>
        <p class="text text-gray-500 truncate">
          Samuel Careuw-Jones
        </p>
      </a>
    </div>
  </div>
          <ul class="bg-gray-50">
          <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4 px-6">
Recruit and organize the Business Leader Council
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Write STEM Curriculum for 9th grade Terms 1-5
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Design Construction and Maritime Labs for 9th grade terms 1 - 5
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Write STEM Curriculum for 10th grade Terms 1 - 5
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Support Head of School with New School Opening Checklist
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Plan and prepare for the Phase 2 Renovations to be led by the Construction Team
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Recruit new staff for July onboarding - Construction, Maritime
          </li>
                    <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Teach 2 class per day for a total of 8-weeks to current students (12)
          </li>
                              <li class="text-base text-gray-500 border-solid border-gray-100 border-b-2 p-4">
Vocational design for students in grades 11 / 12
          </li>
          </ul>
      </div>
</div>

<!-- Personnel Budget  -->
    <div>
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        Personnel Budget
      </h2>
      <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
        <p class="text-xl text-gray-500">
          Objectives for Head of School and Social Enterprises Director
        </p>
      </div>
                  <div class="mt-6">
              <a href="#FinancialModel" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
                View Financial Model
              </a>
            </div>
    </div>
<!-- End Personnel Budget  -->

    
  
</div>
<!-- End of Human Resources -->
</div>