
        <!-- 7.0 Instructional Approach   -->
        <div id="InstructionalApproach">

  <!-- Main Header -->
  <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>

        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
            </div>
          </nav>
        </div>

        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center lg:text-left">

              <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                  Section 02
                </span>
                <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                </span>
              </a>
            
            <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
              <span class="block xl:inline">Instructional</span>
              <span class="block text-gray-600 xl:inline">Approach</span>
            </h1>

            <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                A SailFuture Academy graduate is equipped with the academic, vocational, and emotional abilities to transition into adulthood and successfully navigate the workforce, personal relationships, and household affairs.        </main>
      </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
    </div>
  </div>
  <!-- End Main Header -->

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white pt-16 pb-32 overflow-hidden">
    <div class="relative">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
          <div>
            <div>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Student Goals / Outcomes
              </h2>
              <p class="mt-4 text-lg text-gray-500">
  A SailFuture Academy graduate is equipped with the academic, vocational, and emotional abilities to transition into adulthood and successfully navigate the workforce, personal relationships, and household affairs.
  <br></br>
  Students begin their journey at the SailFuture Academy in the ninth grade, a critical year to ensure vital, foundational knowledge is acquired. As students progress through grades 9-12, skills and concepts from the previous year are reinforced and expanded upon.    
  <br></br>
  At the conclusion of a student’s time with SailFuture Academy, we guarantee placement in either a career or in a post-secondary institution.  Additionally students leave with a comprehensive digital portfolio that details a curated body of work that represents their knowledge as well as provides a succinct inventory of acquired skills and certifications. 
              </p>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-24">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
          <div>
            <div>
            </div>
            <div class="mt-6">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Goals for Graduates
              </h2>
              <p class="mt-4 text-lg text-gray-500">
  At the conclusion of their time at SailFuture Academy, graduates possess the ability to think critically, speak effectively, and confidently approach problems with a clear understanding of their own strengths and areas of opportunity.  Each graduate is a self-aware, independent thinker with the ability to work both independently and in teams in order to enter into adulthood as a responsible citizen with the academic and social emotional tools to achieve financial freedom.
  <br></br>A SailFuture Graduate will be able to: 
  <br></br>
  <ul class="">
  <li class="py-4">
       <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 font-medium text-gray-900">Read and write at or above grade level at the time of matriculation.</p>
          </dt>
        </div>
        </li>
  <li class="py-4">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 font-medium text-gray-900">Evaluate and accurately compute multi-step, multi-variable practical mathematical computations involving geometric principles in order to measure, plan, and completely renovate a residential bathroom.</p>
          </dt>
        </div>
        </li>
  <li class="py-4">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 font-medium text-gray-900">Analyze primary sources of information to a craft viable evidence-based argument about a social issue in the form of a 10 minute speech. </p>
          </dt>
        </div>
  </li>
  <li class="py-4">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 font-medium text-gray-900">Accurately synthesize and implement electrical theory to rewire an electrical panel in a boat. </p>
          </dt>
        </div>
  </li>
  
  <li class="py-4">
             <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 font-medium text-gray-900">Curate and execute a nutritious, affordable and profitable 5-day 3-course meal service. </p>
          </dt>
        </div>
  </li>
  
  <li class="py-4">
         <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 font-medium text-gray-900">Design, craft and propose a comprehensive business plan including budgetary components, market research, financial viability, and detailed business model to a panel of the SailFuture business council and members of the St. Petersburg community. </p>
          </dt>
        </div>
  </li>
  
        <li class="py-4">
        <div class="relative">
          <dt>
            <!-- Heroicon name: outline/check -->
            <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-9 leading-6 font-medium text-gray-900">Speak intelligently and succinctly about their strengths and weaknesses, their communication preferences, and their curated skill and knowledge acquisition as supported by their Google Site Portfolio.</p>
          </dt>
        </div>
        </li>
  </ul>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
          <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg" alt="Customer profile user interface">
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Achievement Standards - Graduation Criteria -->
<div class="flex flex-col max-w-7xl">

    <div class="flex flex-col overflow-hidden">
        <div class="relative mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
        <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
            Achievement Standards<br>Graduation Criteria
        </h2>
      </div>
      </div>

    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 align-top">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Academic Area</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Standard</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rationale</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Measurement</th>
              </tr>
            </thead>
            <tbody class="align-top">
              <!-- Odd row -->
              <tr class="bg-white">
                <td class="px-6 py-4 text font-medium text-gray-900">Business</td>
                <td class="px-6 py-4 text text-gray-500 max-w-prose">
                  Basic proficiency in marketing and advertising, product development, human resources, budgeting, and operations.
                  <div class="p-2"></div>
                  Ownership-mindset and understanding of how the employee affects the business.
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500">
                  Final Business Plan,<br />
                  Professionalism Score
                </td>
              </tr>
  
              <!-- Even row -->
              <tr class="bg-blue-50">
                <td class="px-6 py-4 text font-medium text-gray-900">Social-Emotional</td>
                <td class="px-6 py-4 text text-gray-500">
                  Strong understanding of self and how to navigate the world around them.
                  <div class="p-2"></div>
                  Proficiency in emotional regulation, empathy, and self care
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500">
                  Personality Index,<br />
  
                  Professionalism Score
                </td>
              </tr>
  
              <!-- Odd row -->
              <tr class="bg-white">
                <td class="px-6 py-4 text font-medium text-gray-900">Civics</td>
                <td class="px-6 py-4 text text-gray-500 max-w-prose">
                  Understanding of the branches and levels of government and how each affects their personal lives and how businesses are regulated.
                  <div class="p-2"></div>
                  Understand the roles, rights, and responsibilities of United States citizens in order to determine methods of active participation in society, government, and the political system. (SS.912.C.2)
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500"></td>
              </tr>
  
              <!-- Even row -->
              <tr class="bg-blue-50">
                <td class="px-6 py-4 text font-medium text-gray-900">Construction</td>
                <td class="px-6 py-4 text text-gray-500">
                  Basic proficiency in HVAC, Electrical, Plumbing, and Framing.
                  <div class="p-2"></div>
                  Proficiency in jobsite safety, etiquette, and project management.
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500">Industry certifications attained, including ASCE</td>
              </tr>
  
              <!-- Odd row -->
              <tr class="bg-white">
                <td class="px-6 py-4 text font-medium text-gray-900">Culinary</td>
                <td class="px-6 py-4 text text-gray-500 max-w-prose">
                  Basic proficiency in Prep, Hot Line, Catering, and Baking.
                  <div class="p-2"></div>
                  Proficiency in Kitchen safety, etiquette, and project management.
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500">Industry certifications attained</td>
              </tr>
  
              <!-- Even row -->
              <tr class="bg-blue-50">
                <td class="px-6 py-4 text font-medium text-gray-900">Maritime</td>
                <td class="px-6 py-4 text text-gray-500">
                  Basic proficiency in marine electrical, diesel / gas engines, and plotting and navigation.
                  <div class="p-2"></div>
                  Proficiency in vessel operation, safety, etiquette, and maintenance.
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500">Industry certifications attained</td>
              </tr>
  
              <!-- Odd row -->
              <tr class="bg-white">
                <td class="px-6 py-4 text font-medium text-gray-900">English Language Arts</td>
                <td class="px-6 py-4 text text-gray-500 max-w-prose">
                  Proficiency in composing original, evidence-based arguments
                  <div class="p-2"></div>
                  Proficiency in English grammatical style, mechanics, usage
                </td>
                <td class="px-6 py-4 text text-gray-500">Clear and effective written and verbal communication is an essential skill, fundamental to</td>
                <td class="px-6 py-4 text text-gray-500">NWEA Map / STAR</td>
              </tr>
  
                          <!-- Even row -->
              <tr class="bg-blue-50">
                <td class="px-6 py-4 text font-medium text-gray-900">Math</td>
                <td class="px-6 py-4 text text-gray-500">
                  Basic proficiency in marine electrical, diesel / gas engines, and plotting and navigation.
                  <div class="p-2"></div>
                  Proficiency in vessel operation, safety, etiquette, and maintenance.
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500">NWEA Map / STAR</td>
              </tr>
  
                          <!-- Even row -->
              <tr class="bg-white">
                <td class="px-6 py-4 text font-medium text-gray-900">Science</td>
                <td class="px-6 py-4 text text-gray-500">
                  Basic proficiency in marine electrical, diesel / gas engines, and plotting and navigation.
                  <div class="p-2"></div>
                  Proficiency in vessel operation, safety, etiquette, and maintenance.
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500"></td>
              </tr>
  
                                      <!-- Even row -->
              <tr class="bg-blue-50">
                <td class="px-6 py-4 text font-medium text-gray-900">Technology</td>
                <td class="px-6 py-4 text text-gray-500">
  Proficiency in utilizing digital tools in a workplace setting to solve problems.                <div class="p-2"></div>
                </td>
                <td class="px-6 py-4 text text-gray-500"></td>
                <td class="px-6 py-4 text text-gray-500">Digital portfolio, Use of Email, Type 50 WPM
  </td>
              </tr>
  
              <!-- More items... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
<!-- Signature Experiences by Year -->
<div class="flex flex-col max-w-7xl">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 align-top">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Signature Experiences by Year</th>
              </tr>
            </thead>
            <tbody class="align-center">
  
              <!-- Even row -->
              <tr class="bg-blue-50">
                <td class="px-10 py-10 text font-medium text-gray-900 border-r-2 border-blue-100">9th Grade<br></td>
                <td class="px-10 py-10 text text-gray-500">
                  Foundational math and science knowledge integrated into Labs and Blocks
                  <div class="p-1"></div>
                  Design and build classroom furniture
                                  <div class="p-1"></div>
  Learn to sail on a collegiate 420
  <div class="p-1"></div>
  Keelboat training on a 65’ racing sailboat
  <div class="p-1"></div>
  Build electrical circuit boards
  <div class="p-1"></div>
  Design tiny house project to meet national building code
  <div class="p-1"></div>
  Design and build Google Site to showcase Portfolio of work
  
                </td>
              </tr>
  
              <!-- Even row -->
              <tr class="bg-white">
                <td class="px-10 py-10 text font-medium text-gray-900 border-r-2">10th Grade<br></td>
                <td class="px-10 py-10 text text-gray-500">
  Overnight and offshore sailing experience with island camp-out
  <div class="p-1"></div>
  Immersive marine science experiment in Tampa Bay
  <div class="p-1"></div>
  Rebuild a diesel and outboard motor
  <div class="p-1"></div>
  Build a demo room and practice framing, plumbing, electrical, and HVAC
  <div class="p-1"></div>
  Learning path advisory discussion and initial research
  
                </td>
              </tr>
  
              <!-- Even row -->
              <tr class="bg-blue-50">
                <td class="px-10 py-10 text font-medium text-gray-900 border-r-2 border-blue-100">11th Grade<br></td>
                <td class="px-10 py-10 text text-gray-500">
  Paid Internships - students serve in leadership positions in three social enterprises, mentor 9th grade students
  <div class="p-1"></div>
  Personal financial planning with a focus on housing and transportation
  <div class="p-1"></div>
  14-day Sailing expedition aboard 65’ sailboat
  <div class="p-1"></div>
  Community advocacy project and defense
  <div class="p-1"></div>
  Learning path discussion and planning
  <div class="p-1"></div>
  Build tiny house from 9th grade plan
                </td>
              </tr>
  
              <!-- Even row -->
              <tr class="bg-white">
                <td class="px-10 py-10 text font-medium text-gray-900 border-r-2">12th Grade<br></td>
                <td class="px-10 py-10 text text-gray-500">
  Paid apprenticeship 3 days per week with SEUs and/or external partners
  <div class="p-1"></div>
  Onsite ELA + STEM classes twice per week
  <div class="p-1"></div>
  Business plan creation and defense
  <div class="p-1"></div>
  Career and transition planning in terms 3, 4, and 5 
  
  
                </td>
              </tr>
  
  
              <!-- More items... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  


        </div>
  