<!-- 4.0 Key Leadership -->
<div id="keyleadership">
    <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
      <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="50,0 100,0 50,100 0,100" />
          </svg>
  
          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
              </div>
            </nav>
          </div>
  
          <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
            <div class="sm:text-center lg:text-left">
  
                <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                  <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                    Section 01
                  </span>
                  <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                  </span>
                </a>
              
              <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                <span class="block xl:inline">School Description</span>
                <span class="block text-gray-600 xl:inline"> & Overview</span>
              </h1>
  
              <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Prepare students to think critically and effectively solve problems in order to become business owners and operators. 
              </p>
  
  
            </div>
          </main>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
      </div>
    </div>
  
        <!-- Key Leadership -->
        <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
              <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
                <div class="lg:col-span-3">
                  <ul class="space-y-12 sm:grid sm:grid-cols-3 mx-auto sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
                    <li>
                      <div class="space-y-4">
                        <div class="">
                          <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                        </div>
                        <div class="text-lg leading-6 font-medium space-y-1">
                          <h3>Andrew Gould</h3>
                          <p class="text-blue-600">Board Chair</p>
                        </div>
                        <div class="text-lg">
                          <p class="text-gray-500">Mr. Gould is the co-founder of Presence, a $30M education software business that helps colleges and universities track and measure student engagement. He brings expertise in technology, fundraising, and marketing</p>
                        </div>
                      </div>
                    </li>
  
                    <li>
                      <div class="space-y-4">
                        <div class="">
                          <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                        </div>
                        <div class="text-lg leading-6 font-medium space-y-1">
                          <h3>Dr. Ted Gillette</h3>
                          <p class="text-blue-600">Education Committee Chair</p>
                        </div>
                        <div class="text-lg">
                          <p class="text-gray-500">Dr. Gillette is an optometrist, Montessori school leader, and retired CEO of a publicly-traded eyecare company. In his business career he took an eyecare company public and led a national network of optometry clinics. In retirement he took over the middle school his children were attending when it faced a financial crisis. He brings significant experience in business, education, fundraising, and curriculum development.</p>
                        </div>
                      </div>
                    </li>
  
                    <li>
                      <div class="space-y-4">
                        <div class="">
                          <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                        </div>
                        <div class="text-lg leading-6 font-medium space-y-1">
                          <h3>Michael Long</h3>
                          <p class="text-blue-600"> Chief Executive Officer</p>
                        </div>
                        <div class="text-lg">
                          <p class="text-gray-500">Mike is a 200-ton USCG Master Captain and has ten years of experience in building and designing effective programs for at-risk youth. Since 2013, he has raised $6M in capital to advance SailFuture’s mission and has grown the organization to serve 200 youth a year with 35 full time staff. He will assist the school leadership team with operations and play a critical role in the integration of the social enterprises into the academic model.</p>
                        </div>
                      </div>
                    </li>
  
                              <li>
                      <div class="space-y-4">
                        <div class="">
                          <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                        </div>
                        <div class="text-lg leading-6 font-medium space-y-1">
                          <h3>Hunter Thompson</h3>
                          <p class="text-blue-600">Operations Director</p>
                        </div>
                        <div class="text-lg">
                          <p class="text-gray-500">Hunter Thompson joined SailFuture as a co-founder in 2014 and is a graduate of Ringling College of Art and Design. He oversees all of SailFuture’s child welfare operations and has extensive experience building SailFuture’s home-school education model from 2018 to present. </p>
                        </div>
                      </div>
                    </li>
  
                              <li>
                      <div class="space-y-4">
                        <div class="">
                          <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                        </div>
                        <div class="text-lg leading-6 font-medium space-y-1">
                          <h3>Lindsay Rapuano</h3>
                          <p class="text-blue-600">Head of School</p>
                        </div>
                        <div class="text-lg">
                          <p class="text-gray-500">Lindsay Danielson Rapuano arrives to SailFuture from Ransom Everglades School in Coconut Grove, FL.  As Dean of Students, Danielson Rapuano worked closely with students to both implement equitable accountability structures as well as provide support for students behaviorally as well as emotionally. Danielson Rapuano served as founding program director at Level the Field, Inc., in New York City, where she developed and implemented the inner-city mentorship program that both taught lessons during the school day as well provided weekend engagement opportunities that increased college awareness. She earned her BA from Columbia University in the City of New York and MA in secondary English education at Teachers College, Columbia University. </p>
                        </div>
                      </div>
                    </li>
  
                    <li>
                      <div class="space-y-4">
                        <div class="">
                          <img class="object-cover shadow-lg rounded-lg" src="https://images.unsplash.com/photo-1505840717430-882ce147ef2d?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
                        </div>
                        <div class="text-lg leading-6 font-medium space-y-1">
                          <h3>Samuel Carew-Jones</h3>
                          <p class="text-blue-600"> Director of Social Enterprises</p>
                        </div>
                        <div class="text-lg">
                          <p class="text-gray-500">Sam is an experienced business leader and educator. He holds a Masters of Arts in teaching from Brandman University and spent most of his teaching career educating adjudicated youth in California. 
                          <br></br>
                          Sam is also an experienced tradesman, holding certificates in Marine Electronics (ABYC ASE L-1, C-1, and A-9), Automotive Technology (ASE Master Technician), and has significant construction experience.
                          <br></br>
                          Sam was most recently the Direct of IT services for a global portfolio of companies, where he served as the CEO’s “solution’s architect” for all things IT and construction. 
                          </p>
                        </div>
                      </div>
                    </li>
                    
  
                    <!-- More items... -->
                  </ul>
                </div>
              </div>
        </div>
  <!-- End Key Leadership  -->
  </div>