<!-- 4.0 Key Leadership -->
<div id="keyleadership">
  <!-- 4.0 Header Leadership -->
  <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>

        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0"></div>
          </nav>
        </div>

        <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center lg:text-left">
            <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
              <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center"> Section 04 </span>
              <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid"> </span>
            </a>

            <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
              <span class="block xl:inline">Key </span>
              <span class="block text-gray-600 xl:inline">Leadership</span>
            </h1>

            <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">Our leadership team is</p>
          </div>
        </main>
      </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="" />
    </div>
  </div>

  <!-- Background Color -->
  <div class="bg-gray-50">
    <!-- Leadership Grid -->
    <div class="py-16 max-w-7xl mx-auto">
      <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="w-full flex items-center justify-between p-6 space-x-6">
            <div class="flex-1 truncate">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Michael Long</h3>
              </div>
              <p class="mt-1 text-gray-500 text truncate">Chief Executive Officer</p>
            </div>
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Mike is a 200-ton USCG Master Captain and has ten years of experience in building and designing effective programs for at-risk youth. Since 2013, he has raised $6M in capital to advance SailFuture’s mission and has grown the organization to serve 200 youth a year with 35 full time staff. He will assist the school leadership team with operations and play a critical role in the integration of the social enterprises into the academic model.</p>
          </div>
        </li>

        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="w-full flex items-center justify-between p-6 space-x-6">
            <div class="flex-1 truncate">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Hunter Thompson</h3>
              </div>
              <p class="mt-1 text-gray-500 text truncate">Operations Director</p>
            </div>
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Hunter Thompson joined SailFuture as a co-founder in 2014 and is a graduate of Ringling College of Art and Design. He oversees all of SailFuture’s child welfare operations and has extensive experience building SailFuture’s home-school education model from 2018 to present.</p>
          </div>
        </li>

        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="w-full flex items-center justify-between p-6 space-x-6">
            <div class="flex-1 truncate">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Lindsay Rapuano</h3>
              </div>
              <p class="mt-1 text-gray-500 text truncate">Head of School</p>
            </div>
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Lindsay Danielson Rapuano has served as Dean of Students at Ransom Everglades School in Coconut Grove, FL, founding program director at Level The Field, Inc. in New York City, and has taught at various public middle and high schools. Danielson Rapuano has worked closely with students to both create and implement equitable accountability structures and character education curriculum to provide support for students behaviorally as well as emotionally. She earned her BA from Columbia University in the City of New York and MA in Secondary English Education at Teachers College, Columbia University.</p>
          </div>
        </li>

        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="w-full flex items-center justify-between p-6 space-x-6">
            <div class="flex-1 truncate">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Samuel Carew-Jones</h3>
              </div>
              <p class="mt-1 text-gray-500 text truncate">Director of Social Enterprises</p>
            </div>
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Sam is an experienced business leader and educator. He holds a Masters of Arts in teaching from Brandman University and spent most of his teaching career educating adjudicated youth in California. Sam is also an experienced tradesman, holding certificates in Marine Electronics (ABYC ASE L-1, C-1, and A-9), Automotive Technology (ASE Master Technician), and has significant construction experience. Sam was most recently the Direct of IT services for a global portfolio of companies, where he served as the CEO’s “solution’s architect” for all things IT and construction.</p>
          </div>
        </li>

        <!-- More items... -->
      </ul>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-6 bg-gray-50">
    <!-- Lindsay Year 1 Objectives  -->
    <div class="rounded-lg shadow-lg ">
        <a href="#" class="mt-2 block">
      <div class="relative rounded-lg border  border-gray-300 bg-white px-6 py-5 shadow-sm flex space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
        <div class="col-span-full">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div>
        <div class="flex-1 min-w-0">
          <a href="#" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text font-medium text-gray-900">
              Head of School
            </p>
            <p class="text-sm text-gray-500 truncate">
              Lindsay Danielson
            </p>
          </a>
        </div>
      </div>
              <ul class="bg-gray-50 ">
              <li class="text-sm text-gray-500 border-solid border-gray-100 border-b-2 p-4 px-6">
    Recruit 42 eligible students
              </li>
                        <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Write ELA Curriculum for 9th grade Terms 1-5
              </li>
                        <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Write ELA Curriculum for 10th grade Terms 1 - 5
              </li>
                        <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Begin Fundraising - $100K Goal for Year 1
              </li>
                        <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Complete all items in the New School Opening Checklist
              </li>
                        <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Develop staff training materials 
              </li>
                        <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Recruit new staff for July onboarding - ALL
              </li>
                        <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Teach 2 classes per day for a total of 8-weeks to current students (12)
              </li>
                                  <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Design Course Framework for Grades 11 and 12
              </li>
              </ul>
    </div>
    
    <!-- Sam Year 1 Objectives  -->
    <div class="rounded-lg shadow-lg">
            <a href="#" class="mt-2 block">
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-blue-500">
        <div class="flex-shrink-0">
          <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div>
        <div class="flex-1 min-w-0">
          <a href="#" class="focus:outline-none">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="font-medium text-gray-900">
              Social Enterprise Director
            </p>
            <p class="text-gray-500 text-sm">
              Samuel Careuw-Jones
            </p>
          </a>
        </div>
      </div>
              <ul class="bg-gray-50">
              <li class="text-sm text-gray-500 border-solid border-gray-100 border-b-2 p-4 px-6">
    Recruit and organize the Business Leader Council
              </li>
                        <li class="text-sm  text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Write STEM Curriculum for 9th grade Terms 1-5
              </li>
                        <li class="text-sm  text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Design Construction and Maritime Labs for 9th grade terms 1 - 5
              </li>
                        <li class="text-sm  text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Write STEM Curriculum for 10th grade Terms 1 - 5
              </li>
                        <li class="text-sm text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Support Head of School with New School Opening Checklist
              </li>
                        <li class="text-sm  text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Plan and prepare for the Phase 2 Renovations to be led by the Construction Team
              </li>
                        <li class="text-sm  text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Recruit new staff for July onboarding - Construction, Maritime
              </li>
                        <li class="text-sm  text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Teach 2 class per day for a total of 8-weeks to current students (12)
              </li>
                                  <li class="text-sm t text-gray-500 border-solid border-gray-100 border-b-2 p-4">
    Vocational design for students in grades 11 / 12
              </li>
              </ul>
    </div>
    </div>

  <!-- End Key Leadership  -->
</div>
