<!-- 4.0 Key Leadership -->
<div id="keyleadership">
    <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
      <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="50,0 100,0 50,100 0,100" />
          </svg>
  
          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
              </div>
            </nav>
          </div>
  
          <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
            <div class="sm:text-center lg:text-left">
  
                <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                  <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                    Section 01
                  </span>
                  <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                  </span>
                </a>
              
              <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                <span class="block xl:inline">Key </span>
                <span class="block text-gray-600 xl:inline">Leadership</span>
              </h1>
  
              <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Our leadership team is              </p>
  
  
            </div>
          </main>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
      </div>
    </div>
  

    <!-- Leadership Grid -->
<ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text font-medium truncate">Nelson Scott</h3>
        </div>
        <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Business, Finance, Fundraising</span></div>
        <p class="mt-1 text-gray-500 text truncate">Vice Chair, Finance Committee Chair</p>
        <p class="mt-1 text-gray-500 text truncate">Prudential Investment</p>
      </div>
      <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
    </div>
    <div>
      <p class="text-base p-6 text-gray-500">Mr. Scott has 10 years of experience in wealth management and wholesale investments with PGIM. He is a lifelong sailor and comes from a family with a rich maritime heritage. He brings expertise in finance, maritime, and fundraising.</p>
    </div>
  </li>

  <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text font-medium truncate">Andrew Gould</h3>
        </div>
        <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Education, Business, Technology</span></div>
        <p class="mt-1 text-gray-500 text truncate">Board Chair</p>
        <p class="mt-1 text-gray-500 text truncate">Presence, Inc </p>
      </div>
      <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
    </div>
    <div>
      <p class="text-base p-6 text-gray-500">Mr. Gould is the co-founder of Presence, an education software business that helps colleges and universities track and measure student engagement. He brings expertise in technology, fundraising, and marketing.</p>
    </div>
  </li>

  <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text font-medium truncate">Nelson Scott</h3>
        </div>
        <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Business, Finance, Fundraising</span></div>
        <p class="mt-1 text-gray-500 text truncate">Vice Chair, Finance Committee Chair</p>
        <p class="mt-1 text-gray-500 text truncate">Prudential Investment</p>
      </div>
      <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
    </div>
    <div>
      <p class="text-base p-6 text-gray-500">Mr. Scott has 10 years of experience in wealth management and wholesale investments with PGIM. He is a lifelong sailor and comes from a family with a rich maritime heritage. He brings expertise in finance, maritime, and fundraising.</p>
    </div>
  </li>

  <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text font-medium truncate">Nelson Scott</h3>
        </div>
        <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Business, Finance, Fundraising</span></div>
        <p class="mt-1 text-gray-500 text truncate">Vice Chair, Finance Committee Chair</p>
        <p class="mt-1 text-gray-500 text truncate">Prudential Investment</p>
      </div>
      <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
    </div>
    <div>
      <p class="text-base p-6 text-gray-500">Mr. Scott has 10 years of experience in wealth management and wholesale investments with PGIM. He is a lifelong sailor and comes from a family with a rich maritime heritage. He brings expertise in finance, maritime, and fundraising.</p>
    </div>
  </li>

  <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text font-medium truncate">Andrew Gould</h3>
        </div>
        <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Business, Finance, Fundraising</span></div>
        <p class="mt-1 text-gray-500 text truncate">Vice Chair, Finance Committee Chair</p>
        <p class="mt-1 text-gray-500 text truncate">Prudential Investment</p>
      </div>
      <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
    </div>
    <div>
      <p class="text-base p-6 text-gray-500">Mr. Scott has 10 years of experience in wealth management and wholesale investments with PGIM. He is a lifelong sailor and comes from a family with a rich maritime heritage. He brings expertise in finance, maritime, and fundraising.</p>
    </div>
  </li>

  <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text font-medium truncate">Nelson Scott</h3>
        </div>
        <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Business, Finance, Fundraising</span></div>
        <p class="mt-1 text-gray-500 text truncate">Vice Chair, Finance Committee Chair</p>
        <p class="mt-1 text-gray-500 text truncate">Prudential Investment</p>
      </div>
      <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
    </div>
    <div>
      <p class="text-base p-6 text-gray-500">Mr. Scott has 10 years of experience in wealth management and wholesale investments with PGIM. He is a lifelong sailor and comes from a family with a rich maritime heritage. He brings expertise in finance, maritime, and fundraising.</p>
    </div>
  </li>


  <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-gray-900 text font-medium truncate">Nelson Scott</h3>
        </div>
        <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Business, Finance, Fundraising</span></div>
        <p class="mt-1 text-gray-500 text truncate">Vice Chair, Finance Committee Chair</p>
        <p class="mt-1 text-gray-500 text truncate">Prudential Investment</p>
      </div>
      <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="" />
    </div>
    <div>
      <p class="text-base p-6 text-gray-500">Mr. Scott has 10 years of experience in wealth management and wholesale investments with PGIM. He is a lifelong sailor and comes from a family with a rich maritime heritage. He brings expertise in finance, maritime, and fundraising.</p>
    </div>
  </li>

  <!-- More items... -->
</ul>



  <!-- End Key Leadership  -->
  </div>