<!-- 5.0 Governance & Management Structure  -->
<div id="ManagementStructure">
    <!-- Header -->
    <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
      <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="50,0 100,0 50,100 0,100" />
          </svg>

          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
              </div>
            </nav>
          </div>

          <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
            <div class="sm:text-center lg:text-left">

                <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                  <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                    Section 04
                  </span>
                  <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                  </span>
                </a>
              
              <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                <span class="block xl:inline">Governance & Management </span>
                <span class="block text-gray-600 xl:inline">Structure</span>
              </h1>

              <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                The school will launch under the direction of the current Board of Directors of SailFuture, Inc. and transition to a separate Board of Directors to oversee the school in the Summer of 2022. 
                <br></br>b
                The current Education Committee will provide direct oversight of the School in advance of the Summer 2022 transition to an independent Board of Directors.
                              </p>


            </div>
          </main>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/heroimages/8G3A4565.MP4.00_49_31_07.Still001.jpg" alt="">
      </div>
    </div>

<!-- Board of Directors v3 -->
<div class="bg-gray-50 overflow-hidden pb-24 max-w-7x1">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
      <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
      </svg>
  
      <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="relative">
          <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
            Division of Responsibilities
          </h3>
          <p class="mt-3 text-lg text-gray-500">
  In order to fulfill the three primary responsibilities of the Board - to ensure the organization is fulfilling its mission, to ensure fiscal responsibility, and to protect it from legal liabilities, the Board will delegate the day-to-day operations of the organization to the Chief Executive Officer and the team hired by and reporting to the CEO.
  <br></br>
  The Board will hold the CEO accountable through quarterly board meetings and an annual review carried out by the president of the board. 
  <br></br>
  The head of school will be held accountable by the CEO until the SailFuture Academy transitions to an independent board of directors in the Summer of 2022. After the transition, the Head of School will report directly to the newly formed board.
          </p>
        </div>
  
        <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
            <defs>
              <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
          </svg>
          <img class="relative mx-auto" width="490" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/heroimages/Board/board2.png" alt="">
        </div>
      </div>
  
      <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
      </svg>
  
      <div class="relative mt-12 sm:mt-16 lg:mt-24">
        <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
          <div class="lg:col-start-2">
            <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
              Board Member Responsibilities
            </h3>
            <p class="mt-3 text-lg text-gray-500">
              The SailFuture academy will have a 9-member Board of Directors when it transitions to independence in the Summer of 2022. In addition to ensuring the Academy fulfills its mission, maintains financial integrity, and is protected from legal liabilities, Board members are responsible for the following:
            </p>
  
            <dl class="mt-10 space-y-4">
  
          <div class="relative">
            <dt>
              <!-- Heroicon name: outline/check -->
              <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </dt>
            <dd class="mt-2 ml-9 text-base text-gray-500">
              Introduce 10 new people to the organization per year (campus visit, event attendance, etc)
            </dd>
          </div>
  
          <div class="relative">
            <dt>
              <!-- Heroicon name: outline/check -->
              <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </dt>
            <dd class="mt-2 ml-9 text-base text-gray-500">
              Meet minimum personal or solicited contribution level: $15,000 per year
            </dd>
          </div>
  
                  <div class="relative">
            <dt>
              <!-- Heroicon name: outline/check -->
              <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </dt>
            <dd class="mt-2 ml-9 text-base text-gray-500">
             Identify and facilitate speaking opportunities at local organizations to raise awareness 
            </dd>
          </div>
  
                  <div class="relative">
            <dt>
              <!-- Heroicon name: outline/check -->
              <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </dt>
            <dd class="mt-2 ml-9 text-base text-gray-500">
              Design, plan, and execute an annual fundraising strategy in partnership with CEO
            </dd>
          </div>
  
                  <div class="relative">
            <dt>
              <!-- Heroicon name: outline/check -->
              <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </dt>
            <dd class="mt-2 ml-9 text-base text-gray-500">
              Attend quarterly board meetings in person or by phone
            </dd>
          </div>
  
                  <div class="relative">
            <dt>
              <!-- Heroicon name: outline/check -->
              <svg class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            </dt>
            <dd class="mt-2 ml-9 text-base text-gray-500">
              Be an engaged member of the SailFuture community by building personal relationships with students
            </dd>
          </div>
  
            </dl>
          </div>
  
          <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
            <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
              <defs>
                <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
            </svg>
            <img class="relative mx-auto" width="490" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/heroimages/Board/board1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="max-w-7x1 p-6 mx-auto">
    <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 max-w-7x1">
        <li class="bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="flex items-center p-6 space-x-6">
            <div class="flex-1 truncate">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Nelson Scott</h3>
              </div>
              <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Business, Finance, Fundraising</span></div>
              <p class="mt-1 text-gray-500 text truncate">Vice Chair, Finance Committee Chair</p>
              <p class="mt-1 text-gray-500 text truncate">Prudential Investment</p>
            </div>
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0 border-2" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/prudent.jpg" alt="" />
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Mr. Scott has 10 years of experience in wealth management and wholesale investments with PGIM. He is a lifelong sailor and comes from a family with a rich maritime heritage. He brings expertise in finance, maritime, and fundraising.</p>
          </div>
        </li>
      
        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="flex items-center p-6 space-x-6">
            <div class="flex-1">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Andrew Gould</h3>
              </div>
              <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Education, Business, Technology</span></div>
              <p class="mt-1 text-gray-500 text truncate">Board Chair</p>
              <p class="mt-1 text-gray-500 text truncate">Presence, Inc </p>
            </div>
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0 border-2" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/6xNJIyDL_400x400+(1).png" alt="" />
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Mr. Gould is the co-founder of Presence, an education software business that helps colleges and universities track and measure student engagement. He brings expertise in technology, fundraising, and marketing.</p>
          </div>
        </li>
      
        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="flex items-center p-6 space-x-6">
            <div class="flex-1">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Micah Thompson</h3>
              </div>
              <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Maritime Industry, Business</span></div>
              <p class="mt-1 text-gray-500 text truncate">Business Council Chair</p>
              <p class="mt-1 text-gray-500 text truncate">Gulf & Bay Dock Works</p>
            </div>
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0 border-2" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/gulf+and+bay.jpg" alt="" />
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Micah is the President of Gulf and Bay companies, which provides dock building and commercial diving services. He is an avid sailor and diver and is passionate about mentoring and training youth. Micah brings expertise in job training and placement, fundraising, and construction. </p>
          </div>
        </li>
      
        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="flex items-center p-6 space-x-6">
            <div class="flex-1">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Madeline Manlove</h3>
              </div>
              <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Education, Business, Communications</span></div>
              <p class="mt-1 text-gray-500 text truncate">Director, Education Committee</p>
              <p class="mt-1 text-gray-500 text truncate">SkimDevil, Inc.</p>
            </div>
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0 border-2" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/skimdevil.png" alt="" />
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Madeline is a co-founder of SailFuture who transitioned back into the private sector to lead a start-up pool skimming company. She is a former educator and corporate communications director. She brings expertise in education, marketing, and trauma informed care.</p>
          </div>
        </li>
      
        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="flex items-center p-6 space-x-6">
            <div class="flex-1">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Dr. Ted Gilette</h3>
              </div>
              <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Education, Business, Fundraising</span></div>
              <p class="mt-1 text-gray-500 text truncate">Education Committee Chair</p>
              <p class="mt-1 text-gray-500 text truncate">Country Day School</p>
            </div>
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0 border-2" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/country+day+school.jpg" alt="" />
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Dr. Gillette is an optometrist, Montessori school leader, and CEO. In his business career he took an eyecare company public and led a national network of optometry clinics. In retirement he took over the middle school his children were attending when it faced a financial crisis. He brings significant experience in business, education, fundraising, and curriculum development.</p>
          </div>
        </li>
      
        <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="flex items-center justify-between p-6 space-x-6">
            <div class="flex-1">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Dr. Stephen Rushton</h3>
              </div>
              <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Education, Fundraising</span></div>
              <p class="mt-1 text-gray-500 text truncate">Director, Finance Committee</p>
              <p class="mt-1 text-gray-500 text truncate">USF College of Education</p>
            </div>
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0 border-2" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/usf.jpg" alt="" />
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Dr. Rushton is a lifelong educator with a passion for project-based and experiential learning. He is an avid sailor and is deeply passionate about serving at-risk youth. He brings expertise in education, fundraising, and maritime.</p>
          </div>
        </li>
      
      
        <li class=" bg-white rounded-lg shadow divide-y divide-gray-200">
          <div class="flex items-center justify-between p-6 space-x-6">
            <div class="flex-1">
              <div class="flex items-center space-x-3">
                <h3 class="text-gray-900 text font-medium truncate">Michael Long</h3>
              </div>
              <div><span class="flex-shrink-0 inline-block p-3 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Founder & CEO</span></div>
              <p class="mt-1 text-gray-500 text truncate">Director</p>
              <p class="mt-1 text-gray-500 text truncate">Founder & CEO SailFuture</p>
            </div>
            <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0 border-2" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/academyplanassets/sailfuture.jpg" alt="" />
          </div>
          <div>
            <p class="text-base p-6 text-gray-500">Mike is a 200-ton USCG Master Captain and has ten years of experience in building and designing effective programs for at-risk youth. He has raised $6M in capital to advance SailFuture’s mission and has grown the organization to serve 200 youth a year with 35 full time staff.</p>
          </div>
        </li>
      
        <!-- More items... -->
    </ul>
</div>