
        <!-- 8.0 Market Analysis   -->
        <div id="MarketAnalysis">

  

            <!-- Main Header -->
            <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
              <div class="max-w-7xl mx-auto">
                <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
                  <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                    <polygon points="50,0 100,0 50,100 0,100" />
                  </svg>
          
                  <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                    <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                      <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                      </div>
                    </nav>
                  </div>
          
                  <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
                    <div class="sm:text-center lg:text-left">
          
                        <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                          <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                            Section 12
                          </span>
                          <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                          </span>
                        </a>
                      
                      <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                        <span class="block xl:inline">Market</span>
                        <span class="block text-gray-600 xl:inline">Analysis</span>
                      </h1>
          
                      <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
St. Petersburg is a densely populated city that is challenged by consistent growth and economic inequality.
<br></br>
Pinellas County is the 8th largest school district in the state of Florida, serving 104,000 students in the 2019-20 school year. 
<br></br>
54,500 students are categorized as economically disadvantaged as determined by free lunch eligibility, and 15,150 students receive exceptional education services as students with disabilities. 
                          </div>
              </div>
              <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
              </div>
            </div>
            </div>
            <!-- End Main Header -->
          
            
            <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="bg-gray-50 overflow-hidden pb-16">
            <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
              <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
                <defs>
                  <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                  </pattern>
                </defs>
                <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
              </svg>
              <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
                <div class="relative">
                  <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
The SailFuture Academy is centrally located at the crossroads of 22nd St. N. and I-275, a major thoroughfare within the Pinellas County peninsula. 
<br></br>
The school is not housed within a residential zone, but it is within 8-minutes from each of the neighborhoods where our target families reside.                    
                  </h3>
                  <p class="mt-3 text-lg text-gray-500">
                  </p>
          
                  <dl class="mt-10 space-y-10 border-t-2 py-4">
                    <div class="relative">
                      <dt>
                        <p class="text-lg leading-6 font-medium text-gray-900">SailFuture Academy Address</p>
                      </dt>
                      <dd class="mt-2 text-base text-gray-500">
          
          2154 27th Ave N.
          St Petersburg, FL 33713            </dd>
                    </div>
          
                  </dl>
                </div>
          
                <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
                  <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
                    <defs>
                      <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                      </pattern>
                    </defs>
                    <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
                  </svg>
                  <img class="relative mx-auto" width="490" src="https://tailwindui.com/img/features/feature-example-1.png" alt="">
                </div>
              </div>
          
              <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
                <defs>
                  <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                  </pattern>
                </defs>
                <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
              </svg>
          
              <div class="relative mt-12 sm:mt-16 lg:mt-24">
                <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
                  <div class="lg:col-start-2">
                    <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
SailFuture has identified 7 anchor neighborhoods to recruit 80% of our students from. 
<br></br>
The other 20% of our student body will be recruited from children in foster care and private paying families seeking educational alternatives for their students.                    </h3>
                    
                    <p class="mt-3 text-lg text-gray-500">
                    <dl class="mt-4 space-y-3">
                      <div class="relative">
                        <dt>
                          <p class="text-lg font-medium text-gray-900 border-t-2 border-b-2 py-4 ">Jordan Park / Campbell Park / Lake Maggorie / 13th Street Heights / Childs Park / Melrose / Bartlett Park</p>
                        </dt>
                      </div>
                                  <div class="relative">
                        <dt>
                    <p class="mt-3 text-lg text-gray-500">
          SailFuture will provide bussing transportation to ensure that students have reliable transportation and access to attend school.              </dt>
                      </div>
                    </dl>
                  </div>
          
                  <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
                    <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
                      <defs>
                        <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                      </defs>
                      <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
                    </svg>
                    <img class="relative mx-auto" width="490" src="https://tailwindui.com/img/features/feature-example-2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <!-- Description of Neighborhood Table  -->
          <div class="max-w-7xl mx-auto bg-white p-6">
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Community
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Total Residents
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Estimated 8th / 9th Grade students*
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Median Income
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Odd row -->
                      <tr class="bg-white">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Jordan Park
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          9,325
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          373
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          $42,000
                        </td>
                      </tr>
          
                      <!-- Even row -->
                      <tr class="bg-gray-50">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Campbell Park
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          4,000
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          160
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          $34,000
                        </td>
                      </tr>
                                  <!-- Odd row -->
                      <tr class="bg-white">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Lake Maggorie
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          4,371
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          175
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          $31,967
                        </td>
                      </tr>
          
                      <!-- Even row -->
                      <tr class="bg-gray-50">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Campbell Park
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          4,000
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          160
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          $34,000
                        </td>
                      </tr>
                                  <!-- Odd row -->
                      <tr class="bg-white">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Bartlett Park
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          3,571
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          143
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          $29,257
                        </td>
                      </tr>
          
                      <!-- Even row -->
                      <tr class="bg-gray-50">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Childs Park
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          8,644
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          346
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          $30,958
                        </td>
                      </tr>
                                  <!-- Odd row -->
                      <tr class="bg-white">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Melrose
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          2,284
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          92
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          $22,000
                        </td>
                      </tr>
          
                      <!-- Even row -->
                      <tr class="bg-gray-50">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          13th Street Heights
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                         3,566
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          149
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          $23,915
                        </td>
                      </tr>
          
                                              <!-- Odd row -->
                      <tr class="bg-blue-50 font-bold border-2 border-blue-100">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Total
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          35,761 households
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          1,438 
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          
                        </td>
                      </tr>
          
                      <!-- More items... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
          
    <div class="pt-12 px-12">
    <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl border-b-2 py-4 prose">
      Current Educational Opportunities
    </h2>
  <div class="">
        <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 gap-8 align-text-top">
          <p class="text-lg text-gray-500">
The families SailFuture intends to serve primarily attend the schools below. Although SailFuture finds the use of Florida’s FSA testing is systematically problematic, the resulting data is no less alarming. <br></br>
<div class="text-lg text-gray-500">
  The super majority of economically disadvantaged students in the neighborhoods we intend to serve are not achieving a passing score on their Math or ELA Florida Standards Assessments. 
</div>
</div>

 </div>
  </div>
          
          <!-- Description of Neighborhood Table  -->
          <div class="max-w-7xl mx-auto bg-white p-6">
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          School
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Distance from SF Academy
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Districted for Target Families?
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Total Enrollment
                        </th>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          School Grade
                        </th>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          ELA FSA 
          % Students receiving a Failing score
                        </th>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Math FSA 
          % Students receiving a Failing score
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Odd row -->
                      <tr class="bg-white">
                        <td class="px-6 py-4 text-sm font-medium text-gray-900">
                          Lakewood High School
                        </td>
                        <td class="px-6 py-4 text-sm text-gray-500">
                          7.8 miles
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          Yes
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          1,093
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          C
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                         65.3%
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          71.8%
                        </td>
                      </tr>
          
                      <!-- Even row -->
                      <tr class="bg-gray-50">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          Gibbs High School
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          4.3 miles
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          Yes
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          1,222
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          C
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          70.2%
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          77.2%
                        </td>
                      </tr>
          
                      <!-- Odd row -->
                      <tr class="bg-white">
                        <td class="px-6 py-4 text-sm font-medium text-gray-900">
                          Boca Ciega High School
                        </td>
                        <td class="px-6 py-4 text-sm text-gray-500">
                          5.6 miles
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          Yes
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          1,754
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          C
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                         69.6%
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          73%
                        </td>
                      </tr>
          
                                  <!-- Even row -->
                      <tr class="bg-gray-50">
                        <td class="px-6 py-4  text-sm font-medium text-gray-900">
                          MycroSchool
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          3.2 miles
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          Yes
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          191
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          N/A
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          Unknown
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          Unknown
                        </td>
                      </tr>
          
                      <!-- Odd row -->
                      <tr class="bg-white">
                        <td class="px-6 py-4 text-sm font-medium text-gray-900">
                          NorthStar Academy
                        </td>
                        <td class="px-6 py-4 text-sm text-gray-500">
                          8.1 miles
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          Yes
                        </td>
                        <td class="px-6 py-4  text-sm text-gray-500">
                          200
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          N/A
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                         Unknown
                        </td>
                                      <td class="px-6 py-4  text-sm text-gray-500">
                          Unknown
                        </td>
                      </tr>
          
                      <!-- More items... -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
          
          <!-- Text Description  -->
          <div class="w-full bg-white px-6">
          <div class="max-w-7xl mx-auto p-6 py-12">
            <div class="mt-3 sm:mt-4 sm:max-w-none lg:grid lg:grid-cols-3 lg:gap-20 md:grid-cols-2 sm:space-y-10 lg:space-y-0">
            
             <div class="flex flex-col overflow-hidden">
                <div class="relative mx-auto lg:max-w-7xl">
                <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 border-b-2 py-4">
                  Public School Options
                </h2>
                <div class="mt-3 sm:mt-4 sm:max-w-none lg:gap-5 lg:items-center">
                  <p class="text text-gray-500">
          Although Pinellas County Schools has a robust system of programmatic academies and centers housed within its high schools, the schools have failed to equitably engage and serve economically disadvantaged students and their families, as demonstrated by the data above and other measures.           </p>
                </div>
              </div>
              </div>
            
              <div class="flex flex-col mx-auto">
                <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 border-b-2 py-4">
                  Private School Options
                </h2>
                <div class="mt-3 sm:mt-4 sm:max-w-none lg:gap-5 lg:items-center">
                  <p class="text text-gray-500">
          Although some students attend private schools such as Admiral Farragut, Shorecrest, Canterbury, and St. Pete Catholic, these schools are not designed to serve our target population and acceptance is extremely limited.        </p>
                </div>
              </div>
            
              <div class="">
                <div class="flex flex-col relative mx-auto">
                <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 border-b-2 py-4">
                  Charter School Options 
                </h2>
                <div class="mt-3 sm:mt-4 sm:max-w-none lg:items-center">
                  <p class="text text-gray-500">
          MycroSchool (3.2 miles) and NorthStar Academy are public charter schools with a collective enrollment of 391 students. Both schools serve at-risk youth in our target neighborhoods. Their school models are both based on online credit-recovery and are often utilized as an alternative school to divert behaviorally defiant or truant students from the local public schools.        </p>
                </div>
              </div>
              </div>
          
            </div>
          </div>
          </div>
        

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white pt-16 pb-32 overflow-hidden">
  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Uniqueness / Selling Factor
            </h2>
            <p class="mt-4 text-lg text-gray-500">
SailFuture is the only project-based, private high school focused on providing an equitable and targeted education to economically disadvantaged students in Pinellas County. Our most similar peer, Academy Prep, serves students in grades 5th - 8th.<br></br>
Parents and students alike are frustrated with the educational experiences provided to students at the neighborhood public high schools (Gibbs, Lakewood, Largo, and Pinellas Park) and perceive NorthStar and MycroSchool as last-resort alternatives.</p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>

  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Evidence of interest in the school from on-the-ground interviews
            </h2>
            <p class="mt-4 text-lg text-gray-500">
As of March 31st, 2021, 40% of our Year 1 enrollment projections have been met with minimal marketing. Community partners, parents, and middle school leaders, and District staff have all shown a keen interest and genuine excitement for the launch of the SailFuture Academy.            
<br></br>
SailFuture will continue to meet with families and partners over the summer to enroll an additional 30 students before August 2021.
            </p>
          </div>
                  <div class="mt-8 border-t border-gray-200 pt-6 space-y-8">
          <blockquote class="">
            <div>
              <p class="text-base text-gray-500">
“I am so excited that my son will have this opportunity. I just wish that I could go back in time to have something like this for my oldest son."
             </p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center">
                <div class="text-base font-medium text-gray-700">
                  Parent of incoming student
                </div>
              </div>
            </footer>
          </blockquote>

          <blockquote>
            <div>
              <p class="text-base text-gray-500 ">
“So many of our students struggle to find their footing at Lakewood and Gibbs. This is a life-changing opportunity for our kids.”              </p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center">
                <div class="text-base font-medium text-gray-700">
                  Guidance Counselor at Thurgood Marshall
                </div>
              </div>
            </footer>
          </blockquote>

          <blockquote>
            <div>
              <p class="text-base text-gray-500">
“MOM! I am going to go to SailFuture and become a Yacht Captain and take you all over the world”
Incoming 9th grade student
              </p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center">
                <div class="text-base font-medium text-gray-700">
                  Incoming 9th grade student
                </div>
              </div>
            </footer>
          </blockquote>                  

        </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg" alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>
</div>



          
          
          
                  </div>
                    