<!-- 2.0 School Components -->
<div id="SchoolComponents">

    <!-- Header -->
    <!-- <div class="relative bg-blue-800">
          <div class="absolute inset-0">
            <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&&sat=-100" alt="">
            <div class="absolute inset-0 bg-blue-800" style="mix-blend-mode: multiply;" aria-hidden="true"></div>
          </div>
          <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
            <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">School Components</h1>
            <p class="mt-6 text-xl text-blue-100 max-w-3xl">Mattis amet hendrerit dolor, quisque lorem pharetra. Pellentesque lacus nisi urna, arcu sociis eu. Orci vel lectus nisl eget eget ut consectetur. Sit justo viverra non adipisicing elit distinctio.</p>
          </div>
    </div> -->

    <!-- Header V2 -->
    <div class="relative bg-gray-50 overflow-hidden border-solid border-blue-200 border-t-2 border-b-2">
      <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-gray-50 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
          <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-gray-50 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
            <polygon points="50,0 100,0 50,100 0,100" />
          </svg>

          <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
            <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
              <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
              </div>
            </nav>
          </div>

          <main class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
            <div class="sm:text-center lg:text-left">

                <a href="#" class="inline-flex space-x-4 pb-4 sm:text-center">
                  <span class="rounded bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                    Section 01
                  </span>
                  <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                  </span>
                </a>
              
              <h1 class="text-4xl tracking-tight font-extrabold text-blue-700 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
                <span class="block xl:inline">School Description</span>
                <span class="block text-gray-600 xl:inline"> & Overview</span>
              </h1>

              <p class="text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
                Prepare students to think critically and effectively solve problems in order to become business owners and operators. 
              </p>
            </div>
          </main>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="">
      </div>
    </div>

    <!-- Instructional -->
    <div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
      <div class="absolute inset-0">
        <div class="bg-white h-1/3 sm:h-2/3"></div>
      </div>
      <div class="relative max-w-7xl mx-auto">
        <div class="text-center">
          <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
            Instructional Components
          </h2>
          <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
    Three unique opportunities to engage students built into the daily schedule
          </p>
        </div>
    
    <!-- Start Grid -->
        <div class="mt-12 max-w-lg sm:max-w-none mx-auto grid gap-5 lg:grid-cols-3 sm:grid-cols-2 lg:max-w-none">
    
    <!-- Start first block -->
          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1">
                            <span class="rounded-full bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                              All grades
                            </span>
                            <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                            </span>
                <a href="#" class="block mt-2">
                  <p class="text-xl font-semibold text-gray-900">
                    Learning Labs
                  </p>
                  <p class="mt-3 text-base text-gray-500 pb-6">
                  6-hour, immersive learning environment solving a real-world challenge through the lens of construction and maritime with culinary added in year 2.              </p>
                </a>
    
                <div class="border-t-2 border-solid border-gray-100 py-6">
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-gray-500">8:1 student-to-instructor ratio</span>
                          </li>
                      </div>
                    </div>
                  </div>
                </div>
    <!-- complete -->
    
    <!-- Start first block -->
          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1">
                          
                            <span class="rounded-full bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                              All grades
                            </span>
                            <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                            </span>
            
                <a href="#" class="block mt-2">
                  <p class="text-xl font-semibold text-gray-900">
                    Classroom Blocks
                  </p>
                  <p class="mt-3 text-base text-gray-500 pb-6">
    110-minute class periods in a designated subject, naturally broken up by lunch, to allow for longer, more in depth project or activity completion.              </a>
    
                <div class="border-t-2 border-solid border-gray-100 py-6">
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-gray-500">16:1 student-to-instructor ratio</span>
                          </li>
                      </div>
                    </div>
                  </div>
                </div>
    <!-- complete -->
    
    <!-- Start first block -->
          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1">
                                        <span class="rounded-full bg-blue-200 px-2.5 py-1 text-xs font-semibold text-blue-600 tracking-wide uppercase sm:text-center">
                              All grades
                            </span>
                            <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                            </span>
    
                <a href="#" class="block mt-2">
                  <p class="text-xl font-semibold text-gray-900">
                    Crew Discussions 
                  </p>
                  <p class="mt-3 text-base text-gray-500 pb-6">
    55-minute periods with dynamic, hands-on classroom learning and discussion
                <div class="border-t-2 border-solid border-gray-100 py-6">
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-gray-500">16:1 student-to-instructor ratio</span>
                          </li>
                      </div>
                    </div>
                  </div>
                </div>
    <!-- complete -->
    
    <!-- Start first block -->
          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1">
                                        <span class="rounded-full bg-red-200 px-2.5 py-1 text-xs font-semibold text-red-600 tracking-wide uppercase sm:text-center">
                              12th Grade
                            </span>
                            <span class="inline-flex items-center text-sm font-medium text-red-700 space-x-1 border-bottom-2 border-solid">
                            </span>
                  <p class="text-xl font-semibold text-gray-900">
                    Intensive Apprenticeships
                  </p>
                  <p class="mt-3 text-base text-gray-500 pb-6">
    Externships facilitated by relationships developed by the SEUs
                <div class="border-t-2 border-solid border-gray-100 py-6">
                          <li class="flex space-x-3 py-4">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-gray-500">Real, on-the-job experience with little incubation </span>
                          </li>
                                                <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-gray-500">Commensurate compensation for the student’s time, effort, and jobsite maturity</span>
                          </li>
                      </div>
                    </div>
                  </div>
                </div>
    <!-- complete -->
    
    <!-- Start first block -->
          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixqx=elsP7wYzDE&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1">
                            <span class="rounded-full bg-yellow-200 px-2.5 py-1 text-xs font-semibold text-yellow-600 tracking-wide uppercase sm:text-center">
                              11th grade
                            </span>
                            <span class="inline-flex items-center text-sm font-medium text-gray-700 space-x-1 border-bottom-2 border-solid">
                            </span>
                <a href="#" class="block mt-2">
                  <p class="text-xl font-semibold text-gray-900">
                    On-The-Job Internships
                  </p>
                  <p class="mt-3 text-base text-gray-500 pb-6">
    Working internally with one of the SEUs to develop stronger workplace habits and skills in incubated environment
                <div class="border-t-2 border-solid border-gray-100 py-6">
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-gray-500">16:1 student-to-instructor ratio</span>
                          </li>
                      </div>
                    </div>
                  </div>
                </div>
    <!-- complete -->
        </div>
      </div>
    </div>

    <!-- Term Evaluations -->
          <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
            <div class="p-6">
              <h2 class="text-lg leading-6 font-medium text-gray-900">Unique 11th and 12th grade opportunities</h2>
            </div>

            <div class="divide-y divide-gray-300">

          <div class="p-6 pt-6 pb-8">
              <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">Internships (11th Grade)</h3>
              <ul class="mt-6 space-y-4">
                <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Working internally with one of the SEUs to develop stronger workplace habits and skills in incubated environment</span>
                </li>
              </ul>
              </div>

                    <div class="p-6 pt-6 pb-8">
              <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">Apprenticeships (12th grade)</h3>
              <ul class="mt-6 space-y-4">
                <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Externships facilitated by relationships developed by the SEUs</span>
                </li>

                <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Real, on-the-job experience with little incubation </span>
                </li>

                            <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Commensurate compensation for the student’s time, effort, and jobsite maturity</span>
                </li>

              </ul>
              </div>


            </div>
              </ul>
            </div>

    <!-- Student Support -->
    <div class="max-w-7xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
      <div class="pb-5 border-b border-gray-200">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Student Support
        </h3>
      </div>
      
          <div class="mt-12 space-y-2 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-2">
      <!-- Daily Feedback -->
          <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
              <div class="p-6">
                <h2 class="text-lg leading-6 font-medium text-gray-900">Daily Feedback</h2>
                <p class="mt-4 text-sm text-gray-500">Students recieve daily feedback from their teachers on behavior </p>
              </div>
              <div class="pb-8 px-6">
                <ul class="mt-6 space-y-4">
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Professionalism Scores based on maturity, effort, and time management</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Provides real-time feedback to parents to create a stronger partnerships</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Sparates behavior and engagement from academic performance</span>
                  </li>
                </ul>
              </div>
            </div>
      
      <!-- Weekly Feedback -->
            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
              <div class="p-6">
                <h2 class="text-lg leading-6 font-medium text-gray-900">Weekly Feedback</h2>
                <p class="mt-4 text-sm text-gray-500">Students received weekly narrative feedback from each instructor</p>
              </div>
              <div class="pb-8 px-6">
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Details academic components such as knowledge/skill mastery, newly emerging mastery/skills, areas of continued growth</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Provides opportunity to develop a deeper relationship between student and instructor</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Focuses student personal evaluation on actionable objectives rather than subjective number or letter</span>
                  </li>
      
                </ul>
              </div>
            </div>
      
      <!-- Crews -->
              <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
              <div class="p-6">
                <h2 class="text-lg leading-6 font-medium text-gray-900">Crews</h2>
              </div>
      
              <div class="divide-y divide-gray-300">
              <div class="pb-8">
                <ul class="mt-6 space-y-4 px-7">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Each student is placed in a crew with the same adult crew leader for the duration of their 4 years</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Students travel through classes in their crews and conclude each day with a crew meeting (except lab days)</span>
                  </li>
              </div>
      
            <div class="p-6 pt-6 pb-8">
                <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">Designated 12th Grade transition Facilitiator</h3>
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Oversees student transition to next step</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Coordinates job/college placement</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Responsible for meeting with each student to help map individualized tasks and needs.</span>
                  </li>
      
                <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Additional touchpoint for parents/guardians for student transition</span>
                  </li>
      
      
                </ul>
                </div>
      
            <div class="p-6 pt-6 pb-8">
                <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">School Cultural Impact</h3>
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Identify and speak with a consistent, constant caring adult</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Create a sense of place and belonging</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Talk specifically about teamwork and of collective accountability</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Facilitate school-wide competition and incentives</span>
                  </li>
      
                      <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Provide leadership experience </span>
                  </li>
                </ul>
                </div>
              </div>
      
      
                </ul>
              </div>
      
      <!-- Term Evaluations -->
            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
              <div class="p-6">
                <h2 class="text-lg leading-6 font-medium text-gray-900">Term Evaluation</h2>
              </div>
      
              <div class="divide-y divide-gray-300">
              <div class="pb-8">
                <ul class="mt-6 space-y-4 px-7">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Students receive narrative evaluation from their crew leader as well as from each instructor detailing the student’s presence each term</span>
                  </li>
              </div>
      
            <div class="p-6 pt-6 pb-8">
                <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">Students receive an updated skills profile</h3>
                <ul class="mt-6 space-y-4">
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">All grade-level faculty meets to discuss each student</span>
                  </li>
      
                  <li class="flex space-x-3">
                    <!-- Heroicon name: solid/check -->
                    <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    <span class="text-sm text-gray-500">Determine, based on term’s objectives, which skills a student has increased mastery</span>
                  </li>
      
      
                </ul>
                </div>
              </div>
                </ul>
              </div>
            </div>
      
      
    </div>

    <div class="mt-12 space-y-2 sm:mt-12 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-2">
    <!-- Parent Support -->
    <div class="max-w-7xl mx-auto pt-24 px-4 sm:px-6 lg:px-8">
      <h3 class="text-3xl leading-6 font-medium text-gray-900">
        Parental Support
      </h3>

        <div class="mt-12 space-y-2 sm:mt-12 sm:space-y-0 sm:grid sm:grid-cols-1 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-1">


    <!-- Parent Tool Kit -->
            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
            <div class="p-6">
              <h2 class="text-lg leading-6 font-medium text-gray-900">Parenting tool-kit</h2>
            </div>

      <div class="divide-y divide-gray-300">

          <div class="p-6 pt-6 pb-8">
              <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">Parenting tool-kit</h3>
              <ul class="mt-6 space-y-4">
                <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Phone locking system</span>
                </li>
                          <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Daily feedback regarding student behavior and engagement</span>
                </li>
                                      <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Weekly narrative feedback about academic performance</span>
                </li>
                                      <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Real-time communication with crew leader </span>
                </li>

              </ul>
              </div>

              <div class="p-6 pb-8">
              <ul class="space-y-4">
                <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Access to family counseling</span>
                </li>
                            <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Parent group activities (sailing, boating)</span>
                </li>
                                        <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Meeting times that work with parent schedules</span>
                </li>
                                                    <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Individualized support, as needed</span>
                </li>

              </ul>
              </div>
        </div>
              </ul>
            </div>
          </div>
    </div>

    <!-- Faculty Support -->
    <div class="max-w-7xl mx-auto pt-24 px-4 sm:px-6 lg:px-8">
      <h3 class="text-3xl leading-6 font-medium text-gray-900">
        Faculty Support
      </h3>
        <div class="mt-12 space-y-2 sm:mt-12 sm:space-y-0 sm:grid sm:grid-cols-1 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-1">
    <!-- Faculty Tool Kit -->
            <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
            <div class="p-6">
              <h2 class="text-lg leading-6 font-medium text-gray-900">Faculty Support Measures</h2>
            </div>

      <div class="divide-y divide-gray-300">
              <div class="p-6 pb-8">
              <ul class="space-y-4">
                <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Protected vacation time</span>
                </li>
                            <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Protected planning time prior to each term</span>
                </li>
                                        <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Weekly check-ins </span>
                </li>
                <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Cross-disciplinary classroom observations - 1/term</span>
                </li>
                            <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Feedback and coaching with narrative comments</span>
                </li>
                            <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Guided discussion during student reviews</span>
                </li>

                                        <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Agenda-driven meetings</span>
                </li>

                                                    <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Standing opportunities to provide feedback</span>
                </li>

                                                                <li class="flex space-x-3">
                  <!-- Heroicon name: solid/check -->
                  <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                  </svg>
                  <span class="text-sm text-gray-500">Professional progress meetings  - formal and informal</span>
                </li>

              </ul>
              </div>
        </div>
              </ul>
            </div>
        </div>
    </div>
    </div>

    <!-- Assessment Design -->
    <div class="max-w-7xl mx-auto pt-24 px-4 sm:px-6 lg:px-8">
                <h3 class="text-3xl leading-6 font-medium text-gray-900">
                  Assessment Design
                </h3>
                <!-- Start Grid -->
                <div class="mt-12 space-y-2 sm:mt-12 sm:space-y-0 sm:grid sm:grid-cols-1 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-1">
    
              <!-- Assessment Design -->
                      <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
                      <div class="p-6">
                        <h2 class="text-lg leading-6 font-medium text-gray-900">Benchmark Assessment: MAP</h2>
                      </div>
    
                <div class="divide-y divide-gray-300">
                    <div class="p-6 pt-6 pb-8">
                        <ul class="space-y-4">
                          
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Utilized at the beginning (Term 1), middle (Term 3), and end of each year (End of Term 5)</span>
                          </li>
    
    
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Utilized to evaluate student content acquisition against national benchmarks and standards</span>
                          </li>
    
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Results analyzed in conjunction with internal data (daily, weekly, term) to assess individual student needs and instructional processes
                            </span>
                          </li>
    
                        </ul>
                        </div>
                        </div>
                        </ul>
                      </div>
    
              <!-- Formative and Summative Assessments by class Design -->
                      <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
                      <div class="p-6">
                        <h2 class="text-lg leading-6 font-medium text-gray-900">Formative and Summative Assessments by class</h2>
                      </div>
    
                <div class="divide-y divide-gray-300">
                    <div class="p-6 pt-6 pb-8">
                        <ul class="space-y-4">
                          
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Explicit conversation about evaluation rubric at prior to each assessment</span>
                          </li>
    
    
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Narrative evaluation shared with student </span>
                          </li>
    
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Quantitative data is collected on the backend by instructors - this is not shared with the students but is used to inform narrative feedback to each student. 
                            </span>
                          </li>
    
                        </ul>
                        </div>
                        </div>
                        </ul>
                      </div>
    
                                <!-- Formative and Summative Assessments by class Design -->
                      <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
                      <div class="p-6">
                        <h2 class="text-lg leading-6 font-medium text-gray-900">Transcript & Certifications</h2>
                      </div>
    
                <div class="divide-y divide-gray-300">
                    <div class="p-6 pt-6 pb-8">
                        <ul class="space-y-4">
                          
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Professionalism score and predictive index</span>
                          </li>
    
    
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Crew leader endorsement and student statement</span>
                          </li>
    
                          <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Skills Graph and knowledge acquisition bars 
                            </span>
                          </li>
    
                         <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Summary of classes
                            </span>
                          </li>
    
                                               <li class="flex space-x-3">
                            <!-- Heroicon name: solid/check -->
                            <svg class="flex-shrink-0 h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                            <span class="text-sm text-gray-500">Certifications (industry-specific: culinary, construction, maritime)
                            </span>
                          </li>
    
                        </ul>
                        </div>
                        </div>
                        </ul>
                      </div>
    
                    <!-- End Grid -->
                    </div>
    </div>
    
          
<!-- End School Components -->
</div>