    <!-- 1.0 School Description -->
    <div id="schooldescription">
      <div class="py-32 bg-blue-50">
        <!-- 1.1 Mission Statement -->
        <div class="lg:text-center max-w-7xl mx-auto">
          <h2 class="text-base text-gray-900 font-semibold tracking-wide uppercase">OUR MISSION</h2>
          <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-800 sm:text-4xl max-w-4x1">
            <span class="text-blue-500">Empowering at-risk students to achieve economic freedom and social mobility</span> through an equitable and exceptional school model driven by character development and pragmatic, project-based learning.           </p>
        </div>
      </div>

      <!-- 1.1 Student Body Container -->
      <div class="relative bg-white overflow-hidden">
      <!-- 1.1 Student Body -->
        <div class="relative">
          <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24 mt-12">
              <div>
                <div>
                  <span class="h-12 w-12 rounded-md flex items-center justify-center bg-blue-600">
                    <!-- Heroicon name: outline/sparkles -->
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                    </svg>
                  </span>
                </div>
                <div class="mt-6">
                  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                    Student Body
                  </h2>
                  <p class="mt-4 text-lg text-gray-500">
                    The SailFuture Academy will serve a diverse student population of 14 - 20 year old youth who have disengaged/are on the verge of disengaging from school. SailFuture Academy students are those students needing a kinesthetic learning setting with explicit real-world application and will hail from low-income families eligible for StepUp for Students scholarships, students in foster care, and paying families.
                  </p>
                </div>
              </div>
            <div>
              <div>
                <div>
                  <span class="h-12 w-12 rounded-md flex items-center justify-center bg-blue-600">
                    <!-- Heroicon name: outline/inbox -->
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
                    </svg>
                  </span>
                </div>
                <div class="mt-6">
                  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                    Vision Statement
                  </h2>
                  <p class="mt-4 text-lg text-gray-500">
                    A private entrepreneurship high school that teaches students how to solve real-world problems by practically applying the skills and knowledge acquired through dynamic classroom activities in real-world career settings.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- End Container -->
    </div>
<!-- End Section -->
</div>

