<!-- 1.0 School Description -->
<div id="schooldescription">

  <div class="py-32 bg-blue-50 p-6">
    <!-- 1.1 Mission Statement -->
    <div class="lg:text-center max-w-7xl mx-auto">
      <h2 class="text-base text-blue-500 font-normal tracking-widest uppercase">OUR MISSION</h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-800 sm:text-4xl max-w-4x1 prose">
        <span class="text-blue-500">Empowering at-risk students to achieve economic freedom and social mobility</span> through an equitable and exceptional school model driven by character development and pragmatic, project-based learning.           
        </p>
    </div>
  </div>

  <!-- 1.1 Student Body Container -->
  <div class="relative bg-white overflow-hidden p-6 max-w-7x1 mx-auto">
  <!-- 1.1 Student Body -->
    <div class="relative pb-4">
      <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24 mt-12">
          <div>
            <div class="mt-6">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Student Body
              </h2>
              <p class="mt-4 text-lg text-gray-500">
                The SailFuture Academy will serve a diverse student population of 14 - 20 year old youth who have disengaged/are on the verge of disengaging from school. SailFuture Academy students are those students needing a kinesthetic learning setting with explicit real-world application and will hail from low-income families eligible for StepUp for Students scholarships, students in foster care, and paying families.                  </p>
            </div>
          </div>
        <div>
          <div>
            <div class="mt-6">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Vision Statement
              </h2>
              <p class="mt-4 text-lg text-gray-500">
                A private entrepreneurship high school that teaches students how to solve real-world problems by practically applying the skills and knowledge acquired through dynamic classroom activities in real-world career settings.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- End Container -->





<!-- This example requires Tailwind CSS v2.0+ -->
<div class="mx-auto max-w-7xl p-6">
<div class="pb-5">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
                Enrollment Plan
              </h2>
</div>
<div class="flex flex-col">
<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
<div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
  <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <table class="min-w-full divide-y divide-gray-200">
      
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            2021
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            2022
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            2023
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            2024
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            2025
          </th>              
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">

        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            9th Grade
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            46
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            46
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            46
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            46
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            46
          </td>                            
        </tr>

        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            10th Grade
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            4
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            50
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            50
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            50
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            50
          </td>                            
        </tr>  

        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            11th Grade
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            4
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            8
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            49
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            49
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            49
          </td>                            
        </tr>

        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            12th Grade
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            -
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            4
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            8
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            47
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            47
          </td>                            
        </tr> 

        <tr class="bg-blue-50 border-2 border-blue-100 font-semibold">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 ">
            Total
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            54
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            108
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            153
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            192
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            192
          </td>                            
        </tr>                                                

        <!-- More items... -->
      </tbody>
    </table>
  </div>
</div>
</div>
</div>

</div>
<!-- End Section -->
</div>
</div>