    <!-- 1.0 Top Header -->
    <div id="schooltop">
      <main>
        <div>
          <!-- Hero card -->
          <div class="relative">
            <div class="inset-x-0 bottom-0 h-50 bg-gray-100"></div>
            <div class="mx-auto">
              <div class="relative sm:overflow-hidden">
                <div class="absolute inset-0 w-full">
                  <img class="h-full w-full object-cover" src="https://s3.us-east-2.amazonaws.com/sailfuture.org/8G3A4357_Proxy.00_00_47_09.Still002.jpg" alt="People working on laptops">
                  <div class="absolute inset-0"></div>
                </div>
                <div class="relative px-4 py-24 sm:px-6 sm:py-40 md:py-50 lg:py-80 lg:px-8">
                  <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl pb-4">
                    <span class="block text-white">SailFuture Academy</span>
                    <span class="block text-blue-500">Private High School</span>
                  </h1>

                  
        <p class="mt-2 text-3xl leading-8 font-bold tracking-tight border-t border-blue-100 pt-4 border-opacity-20 text-gray-800 sm:text-4xl max-w-4x1 prose text-center">
          <span class="text-blue-100 text-center">Where education meets employment           
          </p>
                  <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                    <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                      <a href="#schooldescription" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-500 hover:bg-blue-50 sm:px-8">
                        Watch Video
                      </a>
                      <a href="https://sailfuture.org" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-blue-600 bg-blue-200 hover:bg-opacity-70 sm:px-8">
                        Visit Website
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <!-- More main page content here... -->
      </main>
</div> 