---
layout: default
title: SailFuture
path: home
---


<!-- Hero Header  -->
<div class="block pt-16">
  <div class="relative bg-white overflow-hidden">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>
  
        <main class="mt-0 mx-auto max-w-7xl px-4 sm:pt-8 sm:px-10 md:pt-20">
          <div class="sm:text-center lg:text-left">
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-left sm:text-center">
              <span class="block xl:inline">Innovative sailing-based programs</span>
              <span class="block text-blue-600 xl:inline">for teens and families.</span>
            </h1>
            <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
              SailFuture is a comprehensive child welfare agency, and private school based in St. Petersburg, Florida. <br></br> Our mission drives us to innovate and develop effective programs for high-risk youth, particularly youth in foster care.
            </p>
            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
              <div class="rounded-md shadow">
                <a href="/aboutus" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-10">
                  About Us
                </a>
              </div>
              <div class="mt-3 sm:mt-0 sm:ml-3">
                <a href="https://www.flipcause.com/secure/cause_pdetails/NDIxMQ==" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-blue-700 bg-blue-100 hover:bg-blue-200 md:py-4 md:text-lg md:px-10">
                  Donate
                </a>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full object-top" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1570762584/B___0708.jpg" alt="">
    </div>
  </div>
</div>

  <!-- Logo Section-->
  <div class="bg-white py-12">
    <div class="max-w-7xl mx-auto pt-6 px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1613323950/3Artboard_1_copy_2.svg" alt="Tuple">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1613323950/3Artboard_1.svg" alt="Mirage">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1613323950/3Artboard_1_copy_8.svg" alt="StaticKit">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-12" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1613323950/3Artboard_1_copy_7.svg" alt="Transistor">
        </div>
        <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-12" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1613323950/3Artboard_1_copy_6.svg" alt="Workcation">
        </div>
      </div>
    </div>
  </div>

<!-- School Section -->
<div class="relative overflow-hidden">
  <div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
          <div class="lg:py-24">
            <a href="/academyadmission" class="inline-flex items-center text-white bg-black rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-gray-200">
              <span class="px-3 py-0.5 text-white text-xs font-semibold leading-5 uppercase tracking-wide bg-blue-500 rounded-full">Now Enrolling</span>
              <span class="ml-4 text-sm">View admission information</span>
              <!-- Heroicon name: solid/chevron-right -->
              <svg class="ml-2 w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </a>
            <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl lg:text-left sm:text-center">
              <span class="block">SailFuture Academy</span>
              <span class="block text-blue-400">Private High School</span>
            </h1>
            <p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">An all-boys private high school preparing students for careers and equipping them with the skills to navigate the transition to adulthood</p>
            <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
              <div class="rounded-md shadow">
                <a href="/academy" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-10"> Learn More </a>
              </div>
              <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
                <a href="/admission-form" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-blue-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10"> Enrollment Information </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
            <!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
            <img class="w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-auto lg:max-w-none rounded-xl shadow-xl" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1613796296/SailFuture%20Academy/27220_5056.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Our Programs -->
<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div class="absolute inset-0">
    <div class="bg-white h-1/3 sm:h-2/3"></div>
  </div>
  <div class="relative max-w-7xl mx-auto">
    <!-- Header Programs -->
    <div class="text-center">
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
        Our Programs
      </h2>
      <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
        As an organization, we offer a broad range of programs and services designed to holistically treat childhood trauma and equip teens with the skills and resources necessary to navigate life.
      </p>
    </div>

    <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 md:grid-cols-2 lg:max-w-none md:max-w-none sm:grid-cols-1">
    {% if programs.programs %}
      {% for item in programs.programs %}

      <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
        <div class="flex-shrink-0">
          <img class="h-48 w-full object-cover" src="{{item.imageurl}}" alt="{{item.description}}">
        </div>
        <div class="flex-1 bg-white p-6 flex flex-col justify-between">
          <div class="flex-1">
            <p class="">
              <a href="{{item.url}}" class="text-sm text-blue-300 font-medium text-blue-600 rounded-full py-1 px-2 bg-blue-100 hover:underline">
                {{item.category}}
              </a>
            </p>
            <a href="#" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">
                {{item.name}}
              </p>
              <p class="mt-3 text-base text-gray-500">
                {{item.description}}
              </p>
            </a>
          </div>
          <div class="mt-6">
            <a href="{{item.url}}" class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700">
              Learn More
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}

    </div>
  </div>
</div>

<!-- Career Section -->

<!-- We're Hiring Section -->
<div class="relative bg-gray-800">
  <div class="h-56 bg-blue-600 sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
    <img class="w-full h-full object-cover" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1613438810/SailFuture%20Academy/Website%20Image%20Collection/27619_2027.png" alt="">
  </div>
  <div class="relative max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <div class="md:ml-auto md:w-1/2 md:pl-10">
      <a href="https://careers.sailfuture.org" class="inline-flex items-center text-white bg-black rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-gray-200">
        <span class="px-3 py-0.5 text-white text-xs font-semibold leading-5 uppercase tracking-wide bg-blue-500 rounded-full">Explore Careers</span>
        <span class="ml-4 text-sm">View all open positions</span>
        <!-- Heroicon name: solid/chevron-right -->
        <svg class="ml-2 w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
        </svg>
      </a>
      <h2 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl lg:text-left md:text-center">
        We're Hiring
      </h2>
      <p class="mt-3 text-lg text-gray-300">
        SailFuture recruits passionate leaders who are ready to leverage their talents and experience to level the playing field for teens in foster care, and non-traditional academic settings.
        <br></br>
        Whether you are a general contractor, teacher, social worker, or boat captain, there is a home for you to make the impact of a lifetime at SailFuture.
      </p>
      <div class="mt-8">
        <div class="inline-flex rounded-md shadow">
          <a href="https://careers.sailfuture.org/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-gray-900 bg-white hover:bg-gray-50">
            Learn More
            <!-- Heroicon name: solid/external-link -->
            <svg class="-mr-1 ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
              <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Newsletter Section -->
<div class="bg-gray-900 z-10 md:p-8 sm:p-4">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center">
    <div class="lg:w-0 lg:flex-1">
      <h2 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl" id="newsletter-headline">
        Sign up for our newsletter
      </h2>
      <p class="mt-3 max-w-3xl text-lg leading-6 text-gray-300">
        Keep in touch with us! Sign up for our newsletter and recieve monthly email updates.
      </p>
    </div>
    <div class="mt-8 lg:mt-0 lg:ml-8">
      <form class="sm:flex" name="Email Subscriber List" netlify>
        <label for="emailAddress" class="sr-only">Email address</label>
        <input id="emailAddress" name="emailAddress" type="email" autocomplete="email" required class="w-full px-5 py-3 border border-transparent placeholder-gray-500 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white focus:border-white sm:max-w-xs rounded-md" placeholder="Enter your email">
        <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
          <button type="submit" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-blue-500">
            Subscribe
          </button>
        </div>
      </form>
      <p class="mt-3 text-sm text-gray-300">
        We care about the protection of your data.
      </p>
    </div>
  </div>
</div>



