<!-- Blog Section -->
<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-2 lg:pt-24 lg:pb-28 lg:px-8 md:p-8 sm:p-4">
    <div class="absolute inset-0">
      <div class="bg-white h-1/3 sm:h-2/3"></div>
    </div>
    <div class="relative max-w-7xl mx-auto">
      <div class="text-center">
        <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
          Recent News
        </h2>
      </div>
  
  
      <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none md:max-w-none">
        {% set postslist = collections.post %}
          {% for post in postslist | reverse %}
          <div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="flex-shrink-0">
            <a href="{{ post.url | url }}">
              <img class="h-48 w-full object-cover" src="{{ image }}" alt="">
            </a>
            </div>
            <div class="flex-1 bg-white p-6 flex flex-col justify-between">
              <div class="flex-1 pb-6">
                <p class="text-sm font-medium text-blue-600">
                </p>
                <p class="text-xl font-semibold text-gray-900 pb-6">
                <a href="{{ post.url | url }}">
                  {% if post.data.title %}
                      {{ post.data.title }}
                  {% else %}
                      Untitled
                  {% endif %}
              </a>
              </p>
              {% if post.data.description %}
              <p class="text-lg text-gray-500 mb-3">
                  {{ post.data.description }}
              </p>
              {% endif %}
              </div>
              <hr>
              <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                  <a href="#">
                    <span class="sr-only">{{ post.data.author }}</span>
                    <img class="h-10 w-10 rounded-full" src="https://res.cloudinary.com/dbhwzxw0k/image/upload/v1613249771/1.jpg" alt="">
                  </a>
                </div>
                <div class="ml-3">
                  <p class="text-sm font-medium text-gray-900">
                      {{ post.data.author }}
                  </p>
                  <div class="flex space-x-1 text-sm text-gray-500">
                    <p class="text-base leading-6 text-gray-500 mb-3">
                      <time>
                          {{ post.date | readableDate }}
                      </time>
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>